@{
    ViewBag.Title = "配置流程任务";
    var list = (List<IntFactoryEntity.OrderStageEntity>)ViewBag.Items;
    var entity = (IntFactoryEntity.OrderProcessEntity)ViewBag.Model;
}

@section css{
    <link rel="stylesheet" href="/modules/css/system.css" />
}
@section scripts{
    <script type="text/javascript">
        seajs.use(["scripts/system/orderstages"], function (obj) {
            obj.init('@(entity.ProcessID)','@(Html.ToJSONString((List<IntFactoryEntity.CategoryItemsEntity>)ViewBag.MarkItems))');
        });
    </script>
}
<div class="header-box">
    <span class="header-title left">配置流程-@(entity.ProcessName)</span>
    <a class="btn-back right" href="javascript:if(history.length>1){ history.go(-1);} else{}">返回</a>
</div>
<div class="content-body mTop20" style="padding:20px 20px 0 20px;">
    <ul class="stages-box">
        @foreach (var model in list.Where(m => m.PID == "").ToList())
        { 
            <li class="stages-item">
                <div class="name"><span class="long" id="@(model.StageID)">@(model.StageName)</span></div>
                <div class="ico-dropdown operatestage" data-sort="@(model.Sort)" data-type="@(model.Mark)" data-hours="@(model.MaxHours/24)" data-id="@(model.StageID)"></div>
                <div class="pLeft10 mTop5" title="@(model.MarkEntity!=null?model.MarkEntity.Remark:"--")">
                    操作模块：@(model.MarkEntity!=null?model.MarkEntity.Name:"--")
                </div>
                <div class="pLeft10 mTop5">
                    负责人：<label id="owner@(model.StageID)">@(model.Owner.Name)</label> 
                </div>
                <div class="create-action hide">
                    <textarea class="" maxlength="200">

                    </textarea>
                </div>
            </li>
        }
    </ul>
</div>
<ul class="dropdown-ul hide ddlStage" id="ddlStage" style="width:150px;">
    <li class="" id="editObject">编辑</li>
    <li class="" id="editOwner">更换负责人</li>
    <li class="" id="addObject">在此后添加新阶段</li>
    <li class="" id="deleteObject">删除</li>
</ul>