@{
    ViewBag.Title = "流程管理";
    var list = (List<IntFactoryEntity.ProcessCategoryEntity>)ViewBag.Categorys;
}
<style>
    .process-items ul{ float:left;}
    .process-items ul li{ float:left; margin-right:10px; margin-top:0; }
</style>
@section scripts{
    <script type="text/javascript">
        seajs.use(["scripts/system/orderprocess"], function (obj) {
            obj.init('@Html.ToJSONString(list)');
        });
    </script>
}
<div class="header-box">
    <span class="header-title left">流程管理</span>
    <div class="btn-add right @(ExpandClass.IsLimits(HttpContext.Current,"108020801"))" id="createModel">新建流程</div>
</div>
<div class="search-box">
    <div class="search-header">
        <ul class="search-tab search-type">
            <li data-id="1" class="hover">打样流程</li>
            <li data-id="2" class="">大货流程</li>
        </ul>
    </div>
</div>
<div class="content-body" style="padding-bottom:50px;">
    <div class="search-body mTop10">
        <ul class="search-item search-category">
            <li class="column-name">品类：</li>
            <li class="item hover" data-id="">全部</li>
            @foreach (var item in list)
            {
                 <li class="item" data-id="@(item.CategoryID)">@(item.Name)</li>
            }
        </ul>
    </div>
    <table class="table-list">
        <tr class="tr-header">
            <td class="tLeft">名称</td>
            @*<td class="">周期（天）</td>*@
            <td class="width150">订单阶段</td>
            <td class="width100">品类</td>
            <td class="width150">负责人</td>
            <td class="width150">创建时间</td>
            <td class="width100"></td>
            <td class="width80">操作</td>
        </tr>
    </table>
</div>
<ul class="dropdown-ul hide"  style="width:105px;">
    <li class="" id="updateOwner">更换负责人</li>
    <li class="" id="updateDefault">设为默认</li>
    <li class="@(ExpandClass.IsLimits(HttpContext.Current, "108020801"))" id="updateObject">编辑</li>
    <li class="@(ExpandClass.IsLimits(HttpContext.Current,"108020802"))" id="deleteObject">删除</li>
</ul>


