@{
    ViewBag.Title = "配置流程任务";
    var list = (List<IntFactoryEntity.OrderStageEntity>)ViewBag.Items;
}

@section css{
    <link rel="stylesheet" href="/modules/css/system/system.css" />
}
@section scripts{
    <script type="text/javascript">
        seajs.use(["scripts/system/orderstages"], function (obj) {
            obj.init('@ViewBag.ID');
        });
    </script>
}
<div class="header-box">
    <span class="header-title left">配置流程任务-@ViewBag.Name</span>
</div>
<div class="content-body mTop20">
    <ul class="stages-box">
        @foreach (var model in list.Where(m => m.PID == "").ToList())
        { 
            <li class="stages-item">
                <div class="name"><span class="long">@(model.StageName)</span><input type="text" data-sort="@(model.Sort)" maxlength="50" id="@(model.StageID)" class="hide" /></div>
                <div class="ico-dropdown operatestage" data-type="@(model.Mark)" data-id="@(model.StageID)"></div>
                <div class="pLeft10">
                    负责人：<label id="owner@(model.StageID)">@(model.Owner.Name)</label> 
                </div>
                <ul class="child-items">
                    @foreach (var item in model.StageItem)
                    {
                        <li id="@(item.ItemID)">
                            <span title="@(item.ItemName)" class="itemname width200 long">@(item.ItemName)</span>
                            <span data-id="@(item.ItemID)" data-stageid="@(model.StageID)" class="ico-dropdown operateitem"></span>
                        </li> 
                    }
                </ul>
                <div class="create-action hide">
                    <textarea class="" maxlength="200">

                    </textarea>
                </div>
                
                <div class="create-child" data-id="@(model.StageID)">+ 新建子任务</div>
            </li>
        }
    </ul>
</div>
<ul class="dropdown-ul hide ddlStage" id="ddlStage" style="width:150px;">
    <li class="" id="editObject">修改名称</li>
    <li class="" id="editOwner">更换负责人</li>
    <li class="" id="addObject">在此后添加新任务</li>
    <li class="" id="deleteObject">删除任务</li>
</ul>
<ul class="dropdown-ul hide ddlItem" id="ddlItem" style="width:90px;">
    <li class="" id="editItem">编辑名称</li>
    <li class="" id="deleteItem">删除</li>
</ul>