@{
    ViewBag.Title = "客户阶段";
    var list = (List<IntFactoryEntity.CustomStageEntity>)ViewBag.Items;
}

@section css{
    <link rel="stylesheet" href="/modules/css/system/system.css" />
}
@section scripts{
    <script type="text/javascript">
        seajs.use(["scripts/system/stages"], function (obj) {
            obj.init();
        });
    </script>
}
<div class="header-box">
    <span class="header-title left">客户阶段设置</span>
</div>
<div class="content-body mTop20">
    <ul class="stages-box">
        @foreach (var model in list.Where(m => m.PID == "").ToList())
        { 
            <li class="stages-item">
                <div class="name"><span class="long">@(model.StageName)</span><input type="text" data-sort="@(model.Sort)" maxlength="50" id="@(model.StageID)" class="hide" /></div>
                <div class="ico-dropdown operatestage" data-type="@(model.Mark)" data-id="@(model.StageID)"></div>
                <ul class="child-items">
                    @foreach (var item in model.StageItem)
                    {
                        <li id="@(item.ItemID)">
                            <span title="@(item.ItemName)" class="itemname width200 long">@(item.ItemName)</span>
                            <span data-id="@(item.ItemID)" data-stageid="@(model.StageID)" class="ico-dropdown operateitem"></span>
                        </li> 
                    }
                </ul>
                <div class="create-action hide">
                    <textarea class="" maxlength="200">

                    </textarea>
                </div>
                <div class="create-child @(ExpandClass.IsLimits(HttpContext.Current,"108020203"))" data-id="@(model.StageID)">+ 新建阶段行为</div>
            </li>
        }
    </ul>
</div>
<ul class="dropdown-ul hide ddlStage" id="ddlStage" style="width:150px;">
    <li class="@(ExpandClass.IsLimits(HttpContext.Current,"108020201"))" id="editObject">修改阶段名称</li>
    <li class="@(ExpandClass.IsLimits(HttpContext.Current,"108020201"))" id="addObject">在此后添加新阶段</li>
    <li class="@(ExpandClass.IsLimits(HttpContext.Current,"108020202"))" id="deleteObject">删除阶段</li>
</ul>

<ul class="dropdown-ul hide ddlItem" id="ddlItem" style="width:120px;">
    <li class="@(ExpandClass.IsLimits(HttpContext.Current,"108020203"))" id="editItem">编辑阶段行为</li>
    <li class="@(ExpandClass.IsLimits(HttpContext.Current,"108020204"))" id="deleteItem">删除阶段行为</li>
</ul>