@{
    ViewBag.Title = "订单品类设置";
}
<link href="/modules/css/products.css" rel="stylesheet" />
<link href="/modules/css/category.css" rel="stylesheet" />

@section scripts{
    <script type="text/javascript">
        seajs.use(["scripts/products/ordercategory"], function (category) {
            category.init();
        });
    </script>
}
<div class="header-box">
    <span class="header-title left">订单品类设置</span>
</div>
<div class="content-body mTop20">
    <ul id="category-all" class="category-all">
        <li class="category-layer">
            <div class="category-header">全部品类</div>
            <ul class="category-list">
                @foreach (IntFactoryEntity.Category model in (List<IntFactoryEntity.Category>)ViewBag.Items)
                { 
                    <li data-id="@(model.CategoryID)" title="@(model.Description)" data-layer="@(model.Layers)">
                        <span class="category-name width150 long left @(model.Status.Value==1?"":"color999")">@(model.CategoryName)</span>
                        <span data-id="@(model.CategoryID)" class="ddlcategory ico-dropdown right"></span>
                    </li>
                }
            </ul>
            <div class="create-child" data-id="" data-layer="1">+ 新建品类</div>
        </li>
    </ul>
    @*<div class="attr-value-box" id="attrValueBox">
        <div class="title">
            <span class="header-title">颜色</span>
            <div class="add-value"><input class="value-name" type="text" id="valueName" placeholder="添加属性值" maxlength="20" /><span class="ico-input-add">+</span></div>
        </div>
        
        <ul id="attrValues">
            
        </ul>
    </div>*@
</div>
<ul class="dropdown-ul hide" id="ddlCategory" style="width:65px;">
    <li class="" id="editCategory">编辑</li>
    <li class="" id="deleteCategory">删除</li>
</ul>

<ul class="dropdown-ul hide" id="ddlAttr" style="width:65px;">
    <li class="" id="deleteAttr">删除</li>
</ul>
