@{
    ViewBag.Title = "订单品类设置";
}
<link href="/modules/css/products.css" rel="stylesheet" />
<link href="/modules/css/category.css" rel="stylesheet" />

@section scripts{
    <script type="text/javascript">
        seajs.use(["scripts/products/ordercategory"], function (category) {
            category.init();
        });
    </script>
}
<div class="header-box">
    <span class="header-title left">订单类别设置</span>
</div>
<div class="content-body">
    <ul id="category-all" class="category-all">
        <li class="category-layer">
            <div class="category-header">全部类别</div>
            <ul class="category-list">
                @foreach (IntFactoryEntity.Category model in (List<IntFactoryEntity.Category>)ViewBag.Items)
                { 
                    <li data-id="@(model.CategoryID)" title="@(model.Description)" data-layer="@(model.Layers)">
                        <span class="category-name width150 long left @(model.Status==1?"":"color999")">@(model.CategoryName)</span>
                        <span data-id="@(model.CategoryID)" class="ddlcategory ico-dropdown right"></span>
                    </li>
                }
            </ul>
            <div class="create-child" data-id="" data-layer="1">+ 新建类别</div>
        </li>
    </ul>
</div>
<ul class="dropdown-ul hide" id="ddlCategory" style="width:65px;">
    <li class="" id="editCategory">编辑</li>
    <li class="" id="deleteCategory">删除</li>
</ul>

<ul class="dropdown-ul hide" id="ddlAttr" style="width:65px;">
    <li class="" id="deleteAttr">删除</li>
</ul>
