@{
    var firstNames =(char[])ViewBag.FirstNames; 
    var model=(List<IntFactoryEntity.LableColorEntity>)ViewBag.list;  
 }
@section css{
     <link href="/modules/css/customer.css" rel="stylesheet" />
     <link href="/modules/plug/daterangepicker/daterangepicker.css" rel="stylesheet" />
}  

@section scripts{
    <script type="text/javascript">
        seajs.use(["scripts/customer/customer"], function (ObjectJS) {
            ObjectJS.init('@ViewBag.Type', '@Html.ToJSONString(model)');
        });
    </script>
}
<div class="header-box">
    <span class="header-title left">@ViewBag.Title</span>
    <a href="javascript:void(0)"  id="createCustomer" class="btn-add right @(ExpandClass.IsLimits(HttpContext.Current, "101019001"))">新建客户</a>
</div>
<div class="content-body pBottom50">
   <div class="search-body mTop10">
        <ul class="search-item customer-source">
            <li class="column-name">客户来源：</li>
            <li data-idsource="-1"class="item hover">全部</li>
            <li data-idsource="1" class="item">阿里客户</li>
            <li data-idsource="2" class="item">自助下单</li>
            <li data-idsource="3" class="item">手工创建</li>
        </ul>
    </div>
    <div class="search-items mTop20">
        <input type="hidden" id="currentUserID" value="@(ViewBag.CurrentUserID)" />
        <div class="left mRight20" id="chooseBranch"></div>
        <div class="left">
            <input type="text" id="iptCreateTime" placeholder="创建时间"  class="ipt-date"  />
        </div>
        <div class="right searth-module mTop5" data-text="输入客户名称/电话..." data-width="200"></div>
    </div>
    <div class="search-sort">
        <ul class=" left">
            <li>排序</li>
            <li class="sort-item hover" data-column="cus.CreateTime">
                创建日期
                <span class="asc"></span>
                <span class="desc hover"></span>
            </li>
            <li class="sort-item" data-column="cus.Mark">
                标签
                <span class="asc"></span>
                <span class="desc"></span>
            </li>
            <li class="sort-item" data-column="cus.DemandCount">
                需求单
                <span class="asc"></span>
                <span class="desc"></span>
            </li>
             <li class="sort-item" data-column="cus.DYCount">
                打样单
                <span class="asc"></span>
                <span class="desc"></span>
            </li>
             <li class="sort-item" data-column="cus.DHCount">
                大货单
                <span class="asc"></span>
                <span class="desc"></span>
            </li>
        </ul>
        <div class="clear"></div>
    </div>
    <table class="table-list mTop10">
        <tr class="tr-header">
            <td class="width30"><span id="filterMark" class=""></span></td>  
            <td class="width30"></td>
            <td class="tLeft width200">客户名称</td>
            <td class="tLeft width150">联系电话</td>
            <td class="tLeft width200">地区</td>  
            <td class="width150">来源</td>
            <td class="width80">需求单</td>   
            <td class="width80">打样单</td>  
            <td class="width80">大货单</td>    
            <td class="width100">负责人</td>
            <td class="width100">创建时间</td>
        </tr>
    </table>
    <ul class="left batch-operate mTop20">
        <li class="width30 center">
            <span data-value="-1" class="mTop5" id="batchMark"></span>
        </li>
        <li class="mLeft10 pLeft5 hand lineHeight25" id="checkAll">
            <span class="checkbox iconfont mRight10"></span>批量操作
        </li>
        <li class="mLeft20">
            <a href="javascript:void(0);" class="btn @(ExpandClass.IsLimits(HttpContext.Current, "101019002"))" id="batchChangeOwner">更换负责人</a>
        </li>
         
    </ul>
    <div id="pager" class="mTop20 mRight10"></div>
</div>

