@{
    var firstNames =(char[])ViewBag.FirstNames; 
    var model=(List<IntFactoryEntity.Custom.LableColorEntity>)ViewBag.list;  
 }
@section css{
     <link href="/modules/css/customer/customer.css" rel="stylesheet" />
     <link href="/modules/plug/daterangepicker/daterangepicker.css" rel="stylesheet" />
}

@section scripts{
    <script type="text/javascript">
        seajs.use(["scripts/customer/customer"], function (ObjectJS) {
            ObjectJS.init('@ViewBag.Type', '@Html.ToJSONString(model)');
        });
    </script>
}
@*<div class="header-box">
    <span class="header-title left">@ViewBag.Title</span>
    <a href="Create"  id="createCustomer" class="btn-add right @(ExpandClass.IsLimits(HttpContext.Current, "101019001"))">新建客户</a>
</div>*@
@*<div class="header-box">
    <span class="header-title left">@ViewBag.Title</span>
    <a href="Create"  id="createCustomer" class="btn-add right @(ExpandClass.IsLimits(HttpContext.Current, "101019001"))">新建客户</a>
    <div class="clear"></div>
</div>*@

<div class="content-body mTop20">
    <div class="search-body left">
        <ul class="customer-source">
            <div>来&nbsp;&nbsp;&nbsp;源：</div>
            <li data-idsource="-1"class="source-hover">全部</li>
            <li data-idsource="1">阿里客户</li>
            <li data-idsource="2">自助下单</li>
            <li data-idsource="3">手工创建</li>
        </ul>

        <ul class="search-item-color search-mark">
            <li class="column-name">标&nbsp;&nbsp;&nbsp;记：</li>
            <li data-id="-1" class="item mark-all hover"></li>
            <li data-id="0" class="item mark0" data-name="默认"></li>
            @foreach (var item in model)
            {
                <li data-id="@item.ColorID" class="item" style="border:solid 1px @item.ColorValue;background-color:@item.ColorValue" data-name="@item.ColorName"></li>
            }            
        </ul>

        <ul class="search-letter hide">
            <div class="color999 pLeft5 left mRight20" data-letter="1">首字母：</div>
            <li class="all-letter hover" data-letter="">全部</li>
            @{                
                for (int i = 0; i < @firstNames.Length; i++)
                {
                    <li data-letter="@firstNames[i]">@firstNames[i]</li>
                }
             
             }
        </ul>
    </div>
    <a href="Create"  id="createCustomer" class="btn-add right @(ExpandClass.IsLimits(HttpContext.Current, "101019001"))">新建客户</a>
    <div class="clear"></div>

    <div class="search-items">
        <div class="left mRight20" id="chooseBranch"></div>
        <div class="left">
            <input type="text" id="iptCreateTime" placeholder="创建时间"  class="ipt-date"  />
        </div>
        
    </div>
    <div class="search-sort">
        <ul class=" left">
            <li>排序</li>
            <li class="sort-item hover" data-column="cus.CreateTime">
                创建日期
                <span class="asc"></span>
                <span class="desc hover"></span>
            </li>
            <li class="sort-item" data-column="cus.DemandCount">
                需求单
                <span class="asc"></span>
                <span class="desc"></span>
            </li>
             <li class="sort-item" data-column="cus.DYCount">
                打样单
                <span class="asc"></span>
                <span class="desc"></span>
            </li>
             <li class="sort-item" data-column="cus.DHCount">
                大货单
                <span class="asc"></span>
                <span class="desc"></span>
            </li>
        </ul>
        <div class="right searth-module mTop10" data-text="输入客户名称/电话..." data-width="200"></div>
        <div class="clear"></div>
    </div>
</div>

<div class="content-body" style="background-color:transparent;padding-left:0px;padding-top:0;">
 @* 卡片式显示 *@
    <div class="list-customer"></div>
    <div class="clear"></div>

@*    <ul class="left batch-operate mTop20">
        <li class="width100">
            <span class="ico-check pLeft5 mTop5" id="checkAll">批量操作</span>
        </li>
        <li>
            <a href="javascript:void(0);" class="btn @(ExpandClass.IsLimits(HttpContext.Current,"101019002"))" id="batchChangeOwner">更换负责人</a>
        </li>
    </ul>
    <div id="pager" class="mTop20"></div>*@
</div>

<div class="content-body" style="margin:0;padding:0;margin:20px;padding:10px;">
    <ul class="left batch-operate">
        <li class="width100">
            <span class="ico-check pLeft5 mTop5" id="checkAll">批量操作</span>
        </li>
        <li>
            <a href="javascript:void(0);" class="btn @(ExpandClass.IsLimits(HttpContext.Current,"101019002"))" id="batchChangeOwner">更换负责人</a>
        </li>
    </ul>
    <div id="pager" class=""></div>
</div>

