@{
    ViewBag.Title = "客户详情";
}
@section css{
    <link href="/modules/css/default/customer.css" rel="stylesheet" />
    <link href="/modules/css/task/style.css" rel="stylesheet" />
}

@section scripts{
    <script src="/Scripts/jquery-1.11.1.js"></script>
    <script src="/modules/plug/laydate/laydate.js"></script>
    <script src="/modules/plug/e-smart-zoom-jquery.min.js"></script>
    <script type="text/javascript">
        seajs.use(["scripts/customer/detail"], function (ObjectJS) {
            ObjectJS.init('@ViewBag.ID', '@ViewBag.MDToken');
        });
    </script>
}
<div class="header-box">
    <span class="header-title left">客户详情</span>
    <a class="back right" href="javascript:if(history.length>1){ history.go(-1);} else{}">
        <i class="iconfont">&#xe62d;</i> 返回 
    </a>
</div>
<div class="content-title">
    <div id="spCustomerName" class="left titlename"></div>
    <div id="updateCustomer" class="left ico-edit iconfont mLeft20">&#xe607;</div>
    <a class="btn-add right mTop10" target="_blank" href="/Orders/Create?cid=@ViewBag.ID">新建订单</a>
</div>
<div class="content-body">
    <ul class="content-info">
        <li><span class="column-title">来源：</span><label id="lblSource"></label></li>
        <li>
            <span class="column-title left">负责人：</span> <label class="left" id="lblOwner"></label>
            <div title="更换负责人" class="iconfont left change-ico mLeft10 @(ExpandClass.IsLimits(HttpContext.Current,"101019002"))" id="changeOwner">&#xe60b;</div>
        </li>
        <li><span class="column-title">联系电话：</span><label id="lblMobile"></label></li>
        <li><span class="column-title">Email：</span><label id="lblEmail"></label> </li>
        <li class="companyinfo hide"><span>行业：</span><label id="lblIndustry"></label></li>
        <li  class="companyinfo hide"><span>规模：</span><label id="lblExtent"></label></li>
        <li><span class="column-title">城市：</span><label id="lblCity"></label></li>
        <li><span class="column-title">详细地址：</span><label id="lblAddress"></label></li>
        <li><span class="column-title">创建时间：</span><label id="lblTime"></label></li>
        <li><span class="column-title">创建人：</span><label id="lblUser"></label></li>
        <li style="width:100%;"><span class="column-title">备注：</span> <label id="lblReamrk"></label></li>
    </ul>
    <div class="clear"></div>
</div>
<div class="module-header mTop20">
    <ul class="module-tab left">
        <li class="hover" data-id="taskReplys">备忘</li>
        <li class="@(ExpandClass.IsLimits(HttpContext.Current,"101019009"))" data-id="navOppor">需求列表</li>
        <li class="@(ExpandClass.IsLimits(HttpContext.Current,"101019010"))" data-id="navOrder">打样订单</li>
        <li class="@(ExpandClass.IsLimits(HttpContext.Current,"101019011"))" data-id="navDHOrder">大货订单</li>
        <li data-id="navContact">联系人</li>
        <li data-id="navLog">日志</li>
    </ul>
    <div id="addContact" class="btn-add right @(ExpandClass.IsLimits(HttpContext.Current,"101019006"))">添加联系人</div>
    
</div>
<div class="content-body pBottom50">
    <table id="navContact" class="nav-partdiv table-list mTop20 hide">
        <tr class="tr-header">
            <td class="tLeft">姓名</td>
            <td class="width150">联系电话</td>
            <td class="width150">职位</td>         
            <td class="tLeft">邮箱</td>
            <td class="tLeft">地址</td>
            <td class="width200">创建时间</td>
            <td class="width50">操作</td>
        </tr>
    </table>
    <div class="mTop20 task-replys" id="taskReplys">
        <div class="taskreply-box">
            <textarea id="txtContent" class="reply-content" placeholder="发表备忘"></textarea><br />
            <div class="btn-emotion left" id="btn-emotion" data-id="txtContent" title="表情"></div>
            @*<div id="btn-update" title="附件"></div>*@
            @*<ul class="mTop40 no-img hide" id="orderflie">
                                
            </ul>  *@
            <div class="clear"></div>
           <ul id="customerimg" class="accessory order-imgs addimg hide">

           </ul>
            
            <div class="btn right mTop5 mBottom10" id="btnSaveTalk">提交</div>
            <div class="clear"></div>
        </div>

        <div class="talk-title">全部备忘</div>

        <table class="content-list" id="replyList">
            
        </table>

        <div class="mTop10" id="pagerReply"></div>
    </div>
    @*日志*@
    <div class="nav-partdiv hide" id="navLog">
        <div class="log-body" id="customerLog">

        </div>
        <div id="pagerLogs" class="mTop10">

        </div>
    </div>
    <div class="nav-partdiv hide" id="navOppor">
        <table class="table-list-order mTop10">
            <tr class="tr-header">
                <div class="right mBottom10 searth-module hide  @(ExpandClass.IsLimits(HttpContext.Current,"101019006"))" data-text="关键字搜索..." data-width="260" style="margin-bottom:-20px;"> </div>
            </tr>
               
        </table>         
        <div id="pagerOppors" class="mTop10"></div>
    </div>
    <div class="nav-partdiv hide" id="navOrder">
         <table class="table-list-order mTop10">
             <tr class="tr-header">
                 <div class="right searth-module hide  @(ExpandClass.IsLimits(HttpContext.Current,"101019006"))" data-text="关键字搜索..." data-width="260" style="margin-bottom:-20px;"> </div>
             </tr>
            
        </table>
        <div id="pagerOrders" class="mTop10"></div>
    </div>
    <div class="nav-partdiv hide" id="navDHOrder">
         <table class="table-list-order mTop10">
             <tr class="tr-header">
                <div class="right searth-module hide  @(ExpandClass.IsLimits(HttpContext.Current,"101019006"))" data-text="关键字搜索..." data-width="260" style="margin-bottom:-20px;"> </div>
             </tr>
             
         </table>
         <div id="pagerDHOrders" class="mTop10"></div>
    </div>
</div>
<ul class="dropdown-ul hide" style="width:65px;">
    <li class="@(ExpandClass.IsLimits(HttpContext.Current,"101019006"))" id="editContact">编辑</li>
    <li class="@(ExpandClass.IsLimits(HttpContext.Current,"101019007"))" id="deleteContact">删除</li>
</ul>

<div class="enlarge-image-bgbox hide">
    <div class="close-enlarge-image iconfont">&#xe606;</div> 
    <span id="zoomInButton" class="zoom-botton iconfont mRight50">&#xe642;</span>
    <span id="zoomOutButton" class="zoom-botton iconfont">&#xe641;</span>
</div>

<div id="pageContent" class="enlarge-image-box hide">
    <div class="left-enlarge-image"></div>
    <div class="right-enlarge-image"></div>
    <div class="enlarge-image-item">
         
    </div>
</div>