@{
    ViewBag.Title = "客户详情";
}
@section css{
    <link href="/modules/css/customer/customer.css" rel="stylesheet" />
}

@section scripts{
    <script src="/modules/plug/laydate/laydate.js"></script>
    <script type="text/javascript">
        seajs.use(["scripts/customer/detail"], function (ObjectJS) {
            ObjectJS.init('@ViewBag.ID', '@ViewBag.MDToken');
        });
    </script>
}
<div class="header-box">
    <span class="header-title left">客户详情</span>
    <a href="/Orders/Create/@ViewBag.ID" target="_blank" class="btn-add right @(ExpandClass.IsLimits(HttpContext.Current,"102029001"))">新建订单</a>
</div>
<div class="content-body mTop20">
    <div class="content-title">
        <div id="lblType" class="left customer-type mTop2"></div>
        <div id="spCustomerName" class="left titlename mLeft10"></div>
        <div id="updateCustomer" class="left ico-edit mLeft50 mTop2"></div>

        <div class="left mLeft50"><img class="hand btn_shareMD" src="/modules/images/btn-share-mingdao.png" id="btn_shareMD"/></div>

@*        <div class="btn999 right" id="loseCustomer">丢失</div>*@
        <div class="btnccc right @(ExpandClass.IsLimits(HttpContext.Current,"101019004"))" id="closeCustomer">关闭</div>
        <div class="btn right @(ExpandClass.IsLimits(HttpContext.Current,"101019005"))" id="recoveryCustomer">恢复</div>
        <span class="right lineHeight25 mRight20 blue mTop2" id="lblStatus"></span>
        <span class="right lineHeight25 mTop2">客户状态：</span>
    </div>
    <ul class="content-info">
        <li><span>来源：</span><label id="lblSource"></label></li>
        <li><span class="left">负责人：</span> <label class="left" id="lblOwner"></label>
            <span title="更换负责人" class="ico-change left @(ExpandClass.IsLimits(HttpContext.Current,"101019002"))" id="changeOwner"></span>
        </li>
        <li><span>联系电话：</span><label id="lblMobile"></label></li>
        <li><span>Email：</span><label id="lblEmail"></label> </li>
        <li class="companyinfo hide"><span>行业：</span><label id="lblIndustry"></label></li>
        <li  class="companyinfo hide"><span>规模：</span><label id="lblExtent"></label></li>
        <li><span>城市：</span><label id="lblCity"></label></li>
        <li><span>详细地址：</span><label id="lblAddress"></label></li>
        <li><span>创建时间：</span><label id="lblTime"></label></li>
        <li><span>创建人：</span><label id="lblUser"></label></li>
        <li style="width:100%;"><span>备注：</span> <label id="lblReamrk"></label></li>
    </ul>
    <div class="clear"></div>
@*    <ul class="stage-items mTop30">
        @foreach (var stage in (List<IntFactoryEntity.CustomStageEntity>)ViewBag.Stages)
        { 
            <li data-id="@(stage.StageID)" data-sort="@(stage.Sort)">
                <span class="leftbg bg"></span>
                <span class="name">@(stage.StageName)</span>
                <span class="rightbg bg"></span>
            </li>
        }
    </ul>
    <div class="clear"></div>
    <div class="color666 lineHeight25 mTop20 pLeft5">当前阶段下，销售行为建议：</div>
    <ul class="stageitems mTop10" id="stageItems">
       
    </ul>*@
    <div class="tab-nav mTop30">
        <ul class="tab-nav-ul left">
            <li class="hover" data-id="navRemark">备忘</li>
           @* <li data-id="navContact">联系人</li>*@
           @* <li data-id="navOppor">销售机会</li>*@
            <li data-id="navOrder">订单列表</li>
            <li data-id="navLog">日志</li>
        </ul>
        <div id="addContact" class="btn right @(ExpandClass.IsLimits(HttpContext.Current,"101019006"))">添加联系人</div>
    </div>
    <table id="navContact" class="nav-partdiv table-list mTop20 hide">
        <tr class="tr-header">
            <td class="tLeft">姓名</td>
            <td class="width150">联系电话</td>
            <td class="width150">职位</td>         
            <td class="tLeft">邮箱</td>
            <td class="tLeft">地址</td>
            <td class="width200">创建时间</td>
            <td class="width50">操作</td>
        </tr>
    </table>
    <div id="navRemark" class="mTop20 talk-body nav-partdiv">
        <div class="content-main">
            <textarea id="txtContent" class="txt-content left"></textarea>
            <span class="btn btn-save" id="btnSaveTalk">提交</span>
        </div>
        <div class="talk-title"> 全部备忘 </div>
         <table class="content-list" id="replyList">

         </table>
        <div id="pagerReply" class="mTop10"></div>
    </div>
    @*日志*@
    <div class="nav-partdiv hide" id="navLog">
        <div class="log-body" id="customerLog">

        </div>
        <div id="pagerLogs" class="mTop10">

        </div>
    </div>

    <div class="nav-partdiv hide" id="navOrder">
         <table class="table-list mTop10">
            <tr class="tr-header">
                <td class="tLeft width150">订单编号</td>
                <td class="width100">订单类型</td>
                <td class="width80">状态</td>
                <td class="width80 tRight">总金额</td>
                <td class="width100">联系人</td>
                <td class="width100">联系电话</td>     
                <td class="width100">拥有者</td>
                <td class="width150">创建时间</td>
            </tr>
        </table>
        <div id="pagerOrders" class="mTop10"></div>
    </div>
     <div class="nav-partdiv hide" id="navOppor">
         <table class="table-list mTop10">
            <tr class="tr-header">
                <td class="tLeft width150">机会编号</td>
                <td class="width100">阶段</td>
                <td class="width80 tRight">总金额</td>
                <td class="width100">联系人</td>
                <td class="width100">联系电话</td>     
                <td class="width100">拥有者</td>
                <td class="width150">创建时间</td>
            </tr>
        </table>
        <div id="pagerOppors" class="mTop10"></div>
    </div>
</div>
<ul class="dropdown-ul hide" style="width:65px;">
    <li class="@(ExpandClass.IsLimits(HttpContext.Current,"101019006"))" id="editContact">编辑</li>
    <li class="@(ExpandClass.IsLimits(HttpContext.Current,"101019007"))" id="deleteContact">删除</li>
</ul>