@{
    Layout = "/Views/Shared/_LayoutContent.cshtml";
    var model = (IntFactoryEntity.StorageDoc)ViewBag.Model;
    ViewBag.Title = "发货单详情";
}
<style>
    /*样图信息*/
    .order-imgs-div { width:160px; position:absolute; top:100px; right:20px;}
    .order-imgs-div .order-imgs img{ height:160px; width:160px;}
    .order-imgs-list li{ width:60px; height:60px; float:left; border:solid 2px #eee; margin-right:5px; cursor:pointer;}
    .order-imgs-list li.hover{ border-color:red;}
    .order-imgs-list img{ width:60px; height:60px;}
</style>
@section scripts{
    <script type="text/javascript">
        seajs.use(["scripts/purchase/docdetail"], function (obj) {
            obj.init('@(model.DocID)');
        });
    </script>
}
<div class="header-box">
    <span class="header-title left">发货单详情</span>
</div>
<div class="content-body mTop20">
    <div class="content-title">
        <span class="titlename">单据编号：@(model.DocCode)</span>
    </div>
    <ul class="content-info">
        <li><span class="column-title">总金额：</span>@(model.TotalMoney.ToString("f2"))</li>
        <li><span class="column-title">状态：</span>@(model.StatusStr)</li>
        <li><span class="column-title">创建人：</span>@(model.CreateUser.Name)</li>
        <li><span class="column-title">创建日期：</span>@(model.CreateTime.ToString("yyyy-MM-dd"))</li>
        <li><span class="column-title">快递单号：</span>@(model.ExpressCode)</li>
        <li style="width:100%;"><span class="column-title">备注：</span>@(model.Remark)</li>
    </ul>
    <div class="order-imgs-div">
        <div class="order-imgs">
            <img id="orderImage" onerror="document.getElementById('orderImage').src='/modules/images/img-noimg.png'" src="@( string.IsNullOrEmpty(model.DocImage) ? "/modules/images/img-noimg.png" : model.DocImage)" />
        </div>
        <ul class="order-imgs-list"></ul>
    </div>
    <div class="clear"></div>
     <div class="tab-nav mTop30">
        <ul class="tab-nav-ul left">
            <li class="hover " data-id="navProduct">发货明细</li>
        </ul>
    </div>
    <table class="table-list mTop20 nav-partdiv" id="navProduct">
        <tr class="tr-header">
            <td class="tLeft">规格</td>
            <td class="">发货数量</td>
            <td class="tRight">剩余数量</td>
        </tr>
        @foreach (var item in model.Details)
        { 
            <tr class="item" >
                <td>@(item.Remark)</td>
                <td class="center">@(item.Quantity.ToString("f0"))</td>
                <td class="tRight">@(item.SurplusQuantity.ToString("f0"))</td>
            </tr>
        }
    </table>
</div>
