@{
    ViewBag.Title = "订单详情页";
    var model = (IntFactoryEntity.OrderEntity)ViewBag.Model;
}
@section css{
    <link href="/modules/css/opportunitys.css" rel="stylesheet" />
}
@section scripts{
     <script src="/modules/plug/laydate/laydate.js"></script>
    <script type="text/javascript">
        seajs.use(["scripts/orders/detail"], function (obj) {
            obj.init('@(model.OrderID)','@(model.Status)','@Html.ToJSONString(model)');
        });
    </script>
}
<div class="header-box">
    <span class="header-title left">订单详情页</span>
    <a class="ico-back right" href="@(Url.RequestContext.HttpContext.Request.UrlReferrer == null ? "/Customer/Orders" : "javascript:if(history.length>1){ history.go(-1);} else{ location.href='/Customer/Orders'}")">
        返回订单列表
    </a>
</div>
<div class="content-body mTop20">
    <div class="content-title">
        <div class="left titlename">订单编号：@(model.OrderCode)</div>
        <div id="updateOrderInfo" class="left ico-edit mLeft50"></div>
        @*<div class="btn right @(ExpandClass.IsLimits(HttpContext.Current, "102019005"))" id="btnreturn" >回退</div>*@
        <div class="btnccc right @(ExpandClass.IsLimits(HttpContext.Current, "102019003"))" id="btndelete" >删除</div>
        @*<div class="btn mRight10 right @(ExpandClass.IsLimits(HttpContext.Current, "102019007"))" id="btnchangeclient" >转移工厂</div>*@
    </div>
    
    <ul class="content-info left">
        <li>
            <span class="column-title">客户名称：</span> 
            <a href="/Customer/Detail/@(model.CustomerID)" target="_blank">@(model.Customer.Name)</a> </li>
        <li>
            <span class="column-title">负责人：</span> <label class="left" id="lblOwner">@(model.Owner != null ? model.Owner.Name : "--")</label>
            <span title="更换负责人" class="ico-change left mTop5 mLeft10 @(ExpandClass.IsLimits(HttpContext.Current, "102019004"))" data-userid="@(model.OwnerID)" data-id="@(model.OrderID)" id="changeOwner"></span>
        </li>
        
        <li>
            <span class="column-title">期望价格：</span>
            <label>@(model.PlanPrice)</label>
        </li>
        <li>
            <span class="column-title">最终报价：</span>
            <label>@(model.FinalPrice.ToString("f2"))</label>
        </li>
        <li>
            <span class="column-title">成本：</span>
            <label>@(model.Price.ToString("f2"))</label>
        </li>
        <li>
            <span class="column-title">利润比例(%)：</span>
            <label class="left" id="profitPrice">@((model.ProfitPrice*100).ToString("f2"))</label> <div id="updateProfitPrice" class="left ico-edit mLeft20 mTop5"></div>
        </li>
        <li>
            <span class="column-title">加工数量：</span>
            <label id="planQuantity">@(model.PlanQuantity)</label>
        </li>
       
        <li>
            <span class="column-title">总金额：</span>
            <label id="totalMoney">@(model.TotalMoney.ToString("f2"))</label>
        </li>
        <li>
            <span class="column-title">付款金额：</span>
            <label id="infoPaymoney">0.00</label>
        </li>
        <li>
            <span class="column-title">收货人：</span>
            <label>@(model.PersonName)</label>
        </li>
        <li>
            <span class="column-title">联系方式：</span>
            <label>@(model.MobileTele)</label>
        </li>  
        <li>
            <span class="column-title">收货地址：</span>
            <label>@(model.City != null ? (model.City.Province + " " + model.City.City + " " + model.City.Counties) : "")@(model.Address)</label>
        </li>
        @*<li>
            <span class="column-title">邮编：</span>
            <label>@(model.PostalCode)</label>
        </li>*@
        <li style="width:100%;">
            <span class="column-title">详细需求：</span> 
            <label>@(model.Remark.Trim())</label>
        </li>
    </ul>

    <ul class="left status-items">
        @if (model.OrderType == 1)
        {
            <li data-status="0">
                <span class="status-time mRight5">@(model.CreateTime.ToString("yyyy-MM-dd"))</span>
                <span class="status-bg"></span>
                <span class="mLeft5">需求单</span>
            </li>
            <li data-status="1"><span class="status-time mRight5">&nbsp;</span><span class="status-line"></span></li>
            <li data-status="1">
                <span class="status-time status-time-text mRight5">&nbsp;</span>
                <span class="status-bg"></span>
                <span class="mLeft5">打样中</span>
            </li>
            <li data-status="2"><span class="status-time mRight5">&nbsp;</span><span class="status-line"></span></li>
            <li data-status="2">
                <span class="status-time status-time-text mRight5">&nbsp;</span>
                <span class="status-bg"></span>
                <span class="mLeft5">合价中</span>
            </li>
            <li data-status="3"><span class="status-time mRight5">&nbsp;</span><span class="status-line"></span></li>
            <li data-status="3">
                <span class="status-time status-time-text mRight5">&nbsp;</span>
                <span class="status-bg"></span>
                <span class="mLeft5">封样封价</span>
            </li>
        }
        else
        {
            <li data-status="0">
                <span class="status-time mRight5">@(model.OrderTime.ToString("yyyy-MM-dd"))</span>
                <span class="status-bg"></span>
                <span class="mLeft5">需求单</span>
            </li>
            <li data-status="4"><span class="status-time mRight5">&nbsp;</span><span class="status-line"></span></li>
            <li data-status="4">
                <span class="status-time status-time-text mRight5">&nbsp;</span>
                <span class="status-bg"></span>
                <span class="mLeft5">待大货</span>
            </li>
            <li data-status="5"><span class="status-time mRight5">&nbsp;</span><span class="status-line"></span></li>
            <li data-status="5">
                <span class="status-time status-time-text mRight5">&nbsp;</span>
                <span class="status-bg"></span>
                <span class="mLeft5">生产中</span>
            </li>
            <li data-status="6"><span class="status-time mRight5">&nbsp;</span><span class="status-line"></span></li>
            <li data-status="6">
                <span class="status-time status-time-text mRight5">&nbsp;</span>
                <span class="status-bg"></span>
                <span class="mLeft5">生产完成</span>
            </li>
            <li data-status="7"><span class="status-time mRight5">&nbsp;</span><span class="status-line"></span></li>
            <li data-status="7">
                <span class="status-time status-time-text mRight5">&nbsp;</span>
                <span class="status-bg"></span>
                <span class="mLeft5">交易结束</span>
            </li>
        }
    </ul>

    <div class="clear"></div>
    <div class="process-stages mTop30">
        <div class="process-info">
            <div class="left info">订单流程：@(model.OrderProcess.ProcessName)</div>
            <span title="更换流程" class="ico-change left mLeft10 @(ExpandClass.IsLimits(HttpContext.Current, "102019006"))" data-processid="@(model.ProcessID)" data-id="@(model.OrderID)" id="changeProcess"></span>
            <div class="left info mLeft20">负责人：@(model.OrderProcess.Owner.Name)</div>
            <div class="btn right mLeft20" id="changeOrderStatus"></div>
        </div>
        <div class="clear"></div>
        <ul class="stage-items mTop20">
            @if (model.Status != 0 && model.Status != 4)
            {
                foreach (var stage in model.Tasts)
                { 
                    <li data-stageid="@(stage.StageID)" data-orderid="@(model.OrderID)" data-taskid="@(stage.TaskID)" class="@(stage.FinishStatus == 0 ? "normal" : stage.FinishStatus == 1 ? "ing" : "over") task-item">
                        <a href="/Task/Detail/@(stage.TaskID)">
                            <span class="name">@(stage.Title)</span>
                            <span class="status-bg right">
                                <span class="status-color"></span>
                            </span>
                            <span class="status right">@(stage.FinishStatus == 0 ? "未开始" : stage.FinishStatus == 1 ? "进行中" : "已完成")</span>
                         </a>
                    </li>
                }
            }
            else
            {
                foreach (var stage in model.OrderProcess.OrderStages)
                { 
                    <li data-id="@(stage.StageID)" class="normal">
                        <span class="name">@(stage.StageName)</span>
                        <span class="status-bg right">
                            <span class="status-color"></span>
                        </span>
                        <span class="status right">未开始</span>
                    </li>
                }
            }
        </ul>
    </div>
    <div class="tab-nav mTop30">
        <ul class="tab-nav-ul left">
            <li class="hover" data-id="navProducts">材料列表</li>
            <li data-id="navPays" class="navPays">付款记录</li>
            <li data-id="navInvoices" class="hide navInvoices">开票记录</li>
            <li data-id="navLog">日志</li>
        </ul>
        <div id="addInvoice" class="btn right">开票申请</div>
    </div>
    <div id="navProducts" class="nav-partdiv">
        <table class="table-list mTop20">
            <tr class="tr-header">
                <td class="tLeft">材料名称</td>
                <td class="tLeft">规格</td>
                <td class="width80">单位</td>
                <td class="tLeft">单价</td>
                <td class="">消耗量</td>
                <td class="">损耗量</td>
                <td class="tRight">小计</td>
            </tr>
            @foreach (var detail in model.Details)
            { 
                <tr class="item cart-item" data-autoid="@(detail.AutoID)" data-id="@(detail.ProductDetailID)" >
                    <td><a href="/Products/ChooseDetail?pid=@(detail.ProductID)&did=@(detail.ProductDetailID)" target="_blank">@(detail.ProductName)</a></td>
                    <td>@(detail.Remark)</td>
                    <td class="center">@(detail.UnitName)</td>
                    <td class="tr-price"><label class="price">@(detail.Price.ToString("f2"))</label></td>
                    <td class="center tr-quantity"><label class="quantity">@(detail.Quantity.ToString("f2"))</label></td>
                    <td class="center tr-loss"><label class="loss">@(detail.Loss.ToString("f2"))</label></td>
                    <td class="tRight amount">@((detail.TotalMoney).ToString("f2"))</td>
                </tr>
            }
            <tr class="amount-item">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="tRight">成本合计：</td>
                <td class="tRight"><label id="amount"></label></td>
                <td></td>
            </tr>
        </table>
    </div>
     <table id="navPays" class="nav-partdiv table-list mTop20 hide">
        <tr class="tr-header">
            <td class="width150 tLeft">收款日期</td>
            <td class="">类型</td>
            <td class="">收款金额</td>
            <td class="width100">支付方式</td>
            <td class="tLeft">备注</td>
            <td class="width150">登记人</td>
            <td class="width200 tRight">登记时间</td>
        </tr>
    </table>
    <table id="navInvoices" class="nav-partdiv table-list mTop20 hide">
        <tr class="tr-header">
            <td class="width100 tLeft">发票类型</td>
            <td class="width50">状态</td>
            <td class="">抬头</td>
            <td class="width100">开票金额</td>
            <td class="tLeft">邮寄地址</td>
            <td class="width100">收件人</td>
            <td class="width150">联系电话</td>
            <td class="tLeft">备注</td>
            <td class="width50">操作</td>
        </tr>
    </table>
    @*日志*@
    <div class="nav-partdiv hide" id="navLog">
        <div class="log-body" id="orderLog">

        </div>
        <div id="pagerLogs" class="mTop10">

        </div>
    </div>
</div>
<ul class="dropdown-ul hide" style="width:65px;">
    <li id="deleteInvoice">撤销</li>
</ul>
