@{
    ViewBag.Title = "初始化流程阶段";
    Layout = "~/Views/Shared/_LayoutNoLeft.cshtml";
}
@section css{
    <style type="text/css">
        .main-content { margin-left:0px;}
    </style>

    <link href="/modules/css/guidestep.css" rel="stylesheet" />
}

@section scripts{
    <script type="text/javascript">
        seajs.use(["scripts/home/guidestep"], function (ObjectJS) {
            ObjectJS.initProcess();
        });
    </script>
}
<div class="step-body">
    <ul class="step-header">
        @if (ViewBag.IsExists==0)
        {
            <li class="step hover">1</li>
        }
        <li class="mLeft5 hover">初始化品类和流程</li>
        @if (ViewBag.IsExists==0)
        {
            <li class="iconfont step-ico">&#xe656</li>
            <li class="step">2</li>
            <li class="mLeft5">绑定手机</li>
        }
    </ul>
    <div class="step-content">
        @foreach (var model in (List<IntFactoryEntity.ProcessCategoryEntity>)ViewBag.Categorys)
        {
        <div class="process-box">
            <div class="process-type">
                <span class="check-category hand mLeft10">
                    <span class="checkbox iconfont" data-id="@(model.CategoryID)" data-name="@(model.Name)" title="@(model.Remark)"></span>&nbsp;@(model.Name)
                </span>
            </div>
            <div class="process-items">
                <h1>打样流程：</h1>
                <ul>
                    @foreach (var item in model.CategoryItems.Where(m => m.OrderType == 1 && m.Type == 2))
                    {
                         <li>@(item.Name)</li>
                    }
                </ul>
                <div class="clear"></div>
                <h1>大货流程：</h1>
                <ul>
                    @foreach (var item in model.CategoryItems.Where(m => m.OrderType == 2 && m.Type == 2))
                    {
                         <li>@(item.Name)</li>
                    }
                </ul>
             </div>
         </div>
        }

        <div style="background-color:#fff; padding-top:10px; padding-bottom:50px;">
            <h1 class="step-note">
                <span>提示：</span>初始化品类和流程后，您可在系统中根据下图引导重新配置
            </h1>
            <img src="../../modules/images/guide-step/step2_01.png" /> 
        </div>
        <div class="step-bottom">
            @if (ViewBag.IsExists == 1)
            {
                <div class="btn right mRight20" id="btnSubmit">完成</div>
            }
            else
            {
                <div class="btn right mRight20" id="btnSubmit">下一步</div>
            }
            
        </div>
    </div>
</div>
