<!DOCTYPE html>
   @{
        IntFactoryEntity.Manage.M_Users CurrentUser = (IntFactoryEntity.Manage.M_Users)Session["Manager"];
        string controller =  Url.RequestContext.RouteData.Values["controller"].ToString().ToLower();
        string action = Url.RequestContext.RouteData.Values["action"].ToString().ToLower();
        IntFactoryEntity.Menu controllerMenu = ExpandClass.GetController(HttpContext.Current, controller);
        var logo = "/modules/images/logo.png";
    }

<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="/modules/css/base.css" rel="stylesheet" />
    <link href="/modules/css/layout.css" rel="stylesheet" />
    <link href="/modules/css/default/detail.css" rel="stylesheet" />
    <link href="/modules/css/default/list.css" rel="stylesheet" />
    @RenderSection("css", false)
</head>

<body>
 
    <header>
        <div class="logo left">
            <a href="/Home/Index"><img src="@logo" /></a>
        </div>
        <div class="left companyname long" title="智能工厂管理后台">
            智能工厂管理后台
        </div>
        <ul id="modulesMenu" class="menu left">
             <li class="left">
                    <a href="/home/index" >
                        <span class="name">首页</span>
                        <span class="cursor"></span>
                    </a> 
                </li>
            @*class="@(model.MenuCode.ToUpper()==controllerMenu.PCode.ToUpper() ? "select left" : "left")"*@
              @foreach (IntFactoryEntity.Menu model in ExpandClass.GetChildMenuByCode(HttpContext.Current, ExpandClass.CLIENT_TOP_CODE))
            {                   
                <li class="@(model.MenuCode.ToUpper()==(controllerMenu!=null?controllerMenu.PCode.ToUpper():"") ? "select left" : "left")"  BindController="@(model.Controller)"  data-code="@(model.MenuCode)">            
                    <a  href="/@(model.Controller)/@(model.View)">
                        <span class="name">@(model.Name)</span>
                        <span class="cursor"></span>
                    </a> 
                </li>
                  
            }
        </ul>
        <div id="currentUser" class="currentuser right">
            <span>
                <img src="@(string.IsNullOrEmpty(CurrentUser.Avatar)?"/modules/images/defaultavatar.png":CurrentUser.Avatar)" class="avatar" />
            </span>
            <span class="username">
                @(CurrentUser.Name)
            </span>
            <span class="dropdown">
                <span class="dropdown-top"></span>
                <span class="dropdown-bottom"></span>
            </span>
        </div>
    </header>

    <div class="main-body">
        <nav> 
           
            @if(controllerMenu!=null)
            {
                foreach (IntFactoryEntity.Menu model in ExpandClass.GetChildMenuByCode(HttpContext.Current, controllerMenu.PCode))
                { 
                    <div class="controller @(model.Controller.ToLower()==controller ? "select" : "")" data-code="@(model.MenuCode)">
                        <div class="controller-box">
                            <div class="controller-name">
                                <span class="open left @(model.Controller.ToLower()==controller ? "rotate" : "")"></span>
                                <span class="name left">@(model.Name)</span>
                            </div>
                        </div>
                        <ul class="action-box @(model.Controller.ToLower()==controller ? "" : "hide")">
                            @foreach (IntFactoryEntity.Menu view in ExpandClass.GetChildMenuByCode(HttpContext.Current, model.MenuCode))
                            {
                                <li class="action @(view.View.ToLower()==action ? "select" : "")" data-code="@(view.MenuCode)">
                                    <a href="/@(view.Controller + "/" + view.View)" ><span class="name">@(view.Name)</span></a>
                                </li>
                            }
                         </ul>
                    </div>
                }
            }
          
        </nav>

        <div class="main-content">
            @RenderBody()
        </div>
    </div>


    @*点击头像展开下拉列表*@
    <div class="dropdown-userinfo hide">
        <div class="top-lump"></div>
        <ul class="items-list">
            <li class="item"><a href="/Home/Logout">安全退出</a></li>
        </ul>
    </div>

    <input type="hidden" value="@controller" id="page-controller" />
    <script src="/Scripts/jquery-1.11.1.js"></script>
    <script type="text/javascript" src="/Scripts/sea.js"></script>
    <script type="text/javascript" src="/Scripts/sea-config.js"></script>
    <script type="text/javascript">
        seajs.use(["scripts/layout"], function (layout)
        {
            layout.init();
        });
    </script>

    @RenderSection("scripts", false)
</body>
</html>
