@{
    IntFactoryEntity.Users CurrentUser = (IntFactoryEntity.Users)Session["ClientManager"];
    var model = (IntFactoryEntity.Products)ViewBag.Model;
    var depots=new List<IntFactoryEntity.DepotSeat>();
    var type = ViewBag.OrderType;
    var allDepots = ViewBag.Depots;
    if (type==1||type == 3 || type == 4 || type == 11)
    {
        depots = (List<IntFactoryEntity.DepotSeat>)ViewBag.Depots;
    }
    ViewBag.Title = model.ProductName;
}
@section css{
   <link rel="stylesheet" href="/modules/css/shoppingcart/filterdetails.css" />
   <link href="/modules/plug/umeditor/themes/default/css/umeditor.min.css" rel="stylesheet" />
}

@section scripts{
    <script type="text/javascript">
        seajs.use(["scripts/shoppingcart/filterdetails"], function (obj) {
            obj.init('@Html.ToJSONString(model)', '@ViewBag.DetailID', '@type', '@ViewBag.GUID', '@ViewBag.TID', '@(Html.ToJSONString(depots))');
        });
    </script>
}
<div class="header-box">
    <span class="header-title left">材料详情</span>
    @if (CurrentUser.ClientID == model.ClientID)
    {
         <a href="/Products/ProductDetail/@(model.ProductID)" class="btn right">编辑材料</a>
    }
</div>
<div class="content-body mTop20">
    <div class="top-div">
        <div class="image left">
            <img id="productimg" src="@(model.ProductImage)" />
        </div>
        <div class="product-name left">
            <h1 class="left">@(model.ProductName)</h1>
            <div class="right mRight5">
                <span id="sortAddStockDepot"></span>
                <span class="btn-add create-doc">添加采购</span>
                <span class="btn-add">添加报损</span>
                <span class="btn-add">添加报溢</span>
            </div>
            <div class="clear"></div>
            <ul class="price">
                <li class="column">价&nbsp;&nbsp;格：</li>
                <li id="price" class="salesprice">￥@(model.Price.ToString("f2"))</li>
                @*<li class="commonprice">￥@(model.CommonPrice.Value.ToString("f2"))</li>*@
            </ul>
            <div class="attrs" id="saleattr">
                
                @foreach (var attr in model.SaleAttrs)
                { 
                    <ul class="attr-item salesattr" data-id="@attr.AttrID">
                        <li class="attrkey">
                            @(model.SaleAttrs.Count == 1?attr.AttrName+"：":"规格：")                      
                         </li> 
                        <li class="attrValues">
                            <ul>
                                @foreach (var detail in model.ProductDetails)
                                {
                                    if (model.ProductDetails.Count > 1 && detail.IsDefault==1 && (detail.LogicOut == 0 && detail.StockOut == 0 && detail.StockIn == 0))
                                    {
                                        continue;
                                    }
                                    <li class="value" data-id="@detail.ProductDetailID">
                                        @{
                                            if (model.SaleAttrs.Count == 1)
                                            {
                                                @(string.IsNullOrEmpty(detail.Description) ? "默认规格" : detail.Description.Replace('[', ' ').Replace(']', ' ').Replace(attr.AttrName+":",string.Empty).Replace(attr.AttrName+"：",string.Empty))
                                            }
                                            else
                                            {
                                                @(string.IsNullOrEmpty(detail.Description) ? "默认规格" : detail.Description.Replace('[', ' ').Replace(']', ' '))
                                            }
                                        }
                                    </li>
                                }
                            </ul>
                        </li>
                    </ul>
                }
                <ul class="attr-item">
                    <li class="attrkey">单位：</li>
                    <li class="attrValues">
                        <ul id="unit">
                            <li class="hover" style="cursor:text;" id="small" data-value="0" data-id="@(model.SmallUnit.UnitID)">@(model.SmallUnit.UnitName)</li>
                        </ul>
                    </li>
                </ul>
                 <ul class="attr-item">
                    <li class="attrkey">库存：</li>
                    <li class="attrValues">
                        <label class="mLeft20" id="productStockQuantity">0</label>
                    </li>
                </ul>
           </div>
            <div class="choose-div hide">
                @{
                if ((type == 3 && depots.Count > 0)||type==4||type==1||type==11)
                {
                    <div class="depot-dropdown left mTop10 mRight10"></div>
                    <div class="choose-quantity left">
                        <input type="text" value="1" id="quantity" />
                        <span class="quantity-add" id="quantityadd">+</span>
                        <span class="quantity-reduce" id="quantityreduce">-</span>
                    </div>
                    <div class="left mLeft10">
                        <input type="button" class="addcart" id="addcart" value="加入清单" />
                    </div>
                }
                }
            </div>
        </div>
    </div>
    <div class="show-nav">
        <ul class="show-nav-ul">
            <li class="hover" data-id="infoDetail">材料介绍</li>
            <li class="" data-id="useLogs">使用记录</li>
        </ul>
    </div>
    
    <ul class="product-attr nav-partdiv" id="infoDetail">
        <li class="long">材料名称：@(model.ProductName)</li>
        <li class="long">材料编码：@(model.ProductCode)</li>
        <li class="long">供应商：@(model.Providers.Name)</li>
        <li class="long">联系人：@(model.Providers.Contact)</li>
        <li class="long">联系电话：@(model.Providers.MobileTele)</li>
        <li class="long">地址：@(model.Providers.Address)</li>
        @foreach (var attr in model.AttrLists)
        { 
            <li class="long">@attr.AttrName：@attr.AttrValues[0].ValueName</li>
        }
        
    </ul>
    <div id="useLogs" class="nav-partdiv product-uselog hide">
        <table class="use-table-list mTop10">
            <tr class="tr-header">
                <td class="tLeft width150">客户</td>
                <td class="">订单编号</td>
                <td class="">规格</td>
                <td class="width100">数量</td>
                <td class="width150">采购日期</td>
            </tr>
        </table>
        <div id="pagerUseLogs" class="mTop10"></div>
    </div>
    <div class="edui-container">
        <div class="edui-editor-body">
            <div class="description  edui-body-container" id="description">

             </div>
        </div>
    </div>
    
</div>
