@{
    ViewBag.Title = "提交采购单";
    var wares = (List<IntFactoryEntity.WareHouse>)ViewBag.Ware;
    var product = (List<IntFactoryEntity.ProductDetail>)ViewBag.Items;
}

@section scripts{
    <script type="text/javascript">
        seajs.use(["scripts/products/confirmpurchase"], function (obj) {
            obj.init('@(ViewBag.guid)', '@(Html.ToJSONString(wares))');
        });
    </script>
}
<div class="header-box">
    <span class="header-title left">提交采购单</span>
    <div class="btn-add right mLeft20" id="btnChooseProduct">快捷选择材料</div>
    <a class="right font14 mTop4 btn-link" href="/Products/ChooseProducts" id="addChooseProduct">选择采购材料</a>
</div>
<div class="content-body mTop20">
    <table class="table-items-detail">
        <tr class="table-header tr-header">
            <td class="tLeft width50"></td>
            <td class="tLeft">材料名称</td>
            <td class="">规格</td>
            <td class="">供应商</td>
            <td class="">采购价</td>
            <td class="width50 ">数量</td>
            <td class="">小计</td>
            <td class="center width80">删除</td>
        </tr>
        @if (product.Count > 0)
        {

            foreach (var model in product)
            { 
            <tr class="item cart-item" data-autoid="@(model.AutoID)" data-id="@(model.ProductDetailID)" >
                <td class=" bBottom" style="padding:5px;">
                    <a href="/Products/ChooseDetail?pid=@(model.ProductID)&did=@(model.ProductDetailID)" target="_blank">
                        <img style="width:80px;height:80px;" src="@(string.IsNullOrEmpty(model.ImgS) ? model.ProductImage : model.ImgS)" />
                    </a>
                </td>
                <td class="tLeft bBottom"><a href="/Products/ChooseDetail?pid=@(model.ProductID)&did=@(model.ProductDetailID)" target="_blank">@(model.ProductName)</a></td>
                <td class=" bBottom">@(model.Description)</td>
                <td class=" bBottom">@(model.ProviderName)</td>
                <td class="tr-price  bBottom"><input maxlength="20" type="text" data-id="@(model.AutoID)" data-value="@(model.Price.ToString("f2"))" class="price width80" value="@(model.Price.ToString("f2"))" /></td>
                <td class="tr-quantity  bBottom"><input maxlength="20" type="text" data-id="@(model.AutoID)" data-value="@(model.Quantity)" class="quantity width50" value="@(model.Quantity.ToString("f2"))" /></td>
                <td class="amount bBottom">@((model.Price * model.Quantity).ToString("f2"))</td>
                <td class="center  bBottom">
                    <a class="ico-del iconfont font20" href="javascript:void(0)" title="删除" data-id="@(model.AutoID)"></a>
                </td>
            </tr>
            }
            <tr class="item amount-item">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="">合计：</td>
                <td class=""><label id="amount"></label></td>
                <td></td>
            </tr>
        }
        else
        {
            <tr><td colspan="8"><div class="nodata-txt">暂无材料</div></td></tr>
        }
        
        
    </table>
    <div class="mTop20" style="padding:0 20px;">
        <div class="right" id="chooseWare"></div>
        <div class="clear"></div>
        <input type="text" maxlength="500" placeholder="备注" id="remark" class="width500 mTop10 right">
        <div class="clear"></div>
        <div class="mTop20">
        <div class="btn right" id="btnconfirm">提交采购单</div>
        </div>
    </div>
</div>
