@{
    Layout = "/Views/Shared/_LayoutContent.cshtml";
    var model = (IntFactoryEntity.StorageDoc)ViewBag.Model;
    ViewBag.Title = model.DocType == 1 ? "采购单详情" : "采购单入库明细";
}
<style>
    /*样图信息*/
    .order-imgs-div { width:160px; }
    .order-imgs-div .order-imgs img{ height:160px; width:160px;}
    .order-imgs-list li{ width:60px; height:60px; float:left; border:solid 2px #eee; margin-right:5px; cursor:pointer;}
    .order-imgs-list li.hover{ border-color:red;}
    .order-imgs-list img{ width:60px; height:60px;}
</style>
@section scripts{
    <script type="text/javascript">
        seajs.use(["scripts/products/docdetail"], function (obj) {
            obj.init('@(model.DocID)');
        });
    </script>
}
 <div class="content-title">
    <span class="titlename">单据编号：@(model.DocCode)</span>
</div>
<div class="content-body">
    <ul class="content-info left">
        <li><span class="column-title">总金额：</span>@(model.TotalMoney.ToString("f2"))</li>
        <li><span class="column-title">状态：</span>@(model.StatusStr)</li>
        <li><span class="column-title">创建人：</span>@(model.CreateUser.Name)</li>
        <li><span class="column-title">创建日期：</span>@(model.CreateTime.ToString("yyyy-MM-dd"))</li>
        @*<li><span class="column-title">仓库：</span>@(model.WareHouse!=null?model.WareHouse.Name:"")</li>*@
        <li style="width:100%;"><span class="column-title">备注：</span>@(model.Remark)</li>
    </ul>
    <div class="order-imgs-div right">
        <div class="order-imgs">
            <img id="orderImage" onerror="document.getElementById('orderImage').src='/modules/images/img-noimg.png'" src="@( string.IsNullOrEmpty(model.DocImage) ? "/modules/images/img-noimg.png" : model.DocImage)" />
        </div>
        <ul class="order-imgs-list"></ul>
    </div>
    <div class="clear"></div>
     <div class="tab-nav mTop30">
        <ul class="tab-nav-ul left">
            <li class="hover " data-id="navProduct">采购明细</li>
            @if(model.DocType==1)
            {
              <li data-id="navStorageIn">入库明细</li>
            }
            @*<li data-id="navLog">操作日志</li>*@
        </ul>
    </div>
    <table class="table-list mTop20 nav-partdiv" id="navProduct">
        <tr class="tr-header">
            <td class="tLeft">材料名称</td>
            <td class="">编码</td>
            <td class="tLeft">规格</td>
            <td class="">单位</td>
            <td class="">供应商-联系人-联系电话</td>
            <td class="tRight">采购价</td>
            <td class="center">数量</td>
            @if(model.DocType==1)
            {
              <td class="center">已入库</td>
            }
            <td class="tRight">小计</td>
        </tr>
        @foreach (var item in model.Details)
        { 
            <tr class="item" >
                <td><a href="/Products/ChooseDetail?pid=@(item.ProductID)&did=@(item.ProductDetailID)" target="_blank"> @(item.ProductName)</a></td>
                <td class="center">
                    @(string.IsNullOrEmpty(item.DetailsCode)? item.ProductCode:item.DetailsCode)
                </td>
                <td>@(item.Remark)</td>
                <td class="center">@(item.UnitName)</td>
                <td class="center">
                    @(item.Providers!=null?item.Providers.Name+"—"+item.Providers.Contact+"—"+item.Providers.MobileTele:"")
                    <br />@(item.Providers!=null&&item.Providers.City!=null?item.Providers.City.Description:"")@(item.Providers!=null?item.Providers.Address:"")
                </td>
                <td class="tRight">@(item.Price.ToString("f2"))</td>
                <td class="center">@(item.Quantity.ToString("f2"))</td>
                @if(model.DocType==1)
                {
                  <td class="center">@(item.Complete.ToString("f2"))</td>
                }
                <td class="tRight">@(item.TotalMoney.ToString("f2"))</td>
            </tr>
        }
        <tr class="amount-item">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            @if(model.DocType==1)
            {
              <td></td>
            }
            <td></td>
            <td class="tRight">合计：</td>
            <td class="tRight">@(model.TotalMoney.ToString("f2"))</td>
        </tr>
    </table>
    <div id="navLog" class="hide nav-partdiv">
        <div class="log-body">

        </div>
        <div class="mTop20" id="pager"></div>
    </div>

    <table id="navStorageIn" class="nav-partdiv table-list mTop20 hide">
        <tr class="tr-header">
            <td class="tLeft">单号</td>
            <td class="">总金额</td>
            <td class="width150">操作人</td>
            <td class="width200">操作日期</td>
        </tr>
    </table>
    
</div>
