@{
    ViewBag.Title = "材料信息编辑";
    var model = (IntFactoryEntity.Products)ViewBag.Model;
}
@section css{
   <link href="/modules/css/stock/products.css" rel="stylesheet" />
   <link href="/modules/plug/umeditor/themes/default/css/umeditor.min.css" rel="stylesheet" />
}

@section scripts{
    <script src="/Scripts/jquery-1.11.1.js"></script>
    <script src="/modules/plug/umeditor/umeditor.config.js"></script>
    <script src="/modules/plug/umeditor/umeditor.min.js"></script>
    <script type="text/javascript">
        seajs.use(["scripts/products/product"], function (product) {
            var um = UM.getEditor('remark', {
                autoHeightEnabled: true
            });
            product.initEdit('@Html.ToJSONString(model)', um);
            
        });
    </script>
}

<div class="header-box">
    <span class="header-title left">材料信息编辑</span>
    <a class="back btn-back right" href="/Products/ProductList">
        返回 
    </a>
   
</div>
 <div class="search-header ">
    <ul class="search-tab ">
        <li class="hover" data-id="productinfo">材料信息</li>
        <li class="" data-id="childproduct">材料子规格</li>
    </ul>
    <a href="javascript:void(0)" id="addDetails" class="btn-add right">添加子规格材料</a>
</div>
<div class="content-body">
    <div id="productinfo" style="position:relative;">
        <ul class="table-add product-add">
            <li>
                <span class="column-name">分类名称：</span>
                <label>
                    @{
                        if (string.IsNullOrEmpty(model.Category.CategoryName))
                        {
                            <input type="text" id="productMenuChange" placeholder="请选择类别" class="input hand" readonly="true" />
                        }
                        else
                        {
                            @(model.Category.CategoryName)
                        }
                     }

                </label>
                <input type="hidden" id="categoryID" value="@(model.CategoryID)" />
            </li>
            
            <li>
                <span class="column-name">材料名称：</span><input type="text" style="width:300px;"  maxlength="50" id="productName" data-empty="必填" class="input verify" />
            </li>
            <li>
                <span class="column-name">产品编码：</span><input maxlength="50" type="text" id="productCode" class="input" />
            </li>
            <li>
                <span class="column-name">条形码：</span><input type="text" maxlength="50" id="shapeCode" class="input" />
            </li>
            <li>
                <span class="column-name">供应商：</span>
                <span id="prodiver"></span>
            </li>
        
            @{
                if (model.Category.AttrLists != null)
                {
                    foreach (IntFactoryEntity.ProductAttr attr in model.Category.AttrLists)
                    {
                    <li data-id="@attr.AttrID" class="product-attr">
                        <span class="column-name">@attr.AttrName：</span>
                        <select id="@attr.AttrID">
                            @foreach (IntFactoryEntity.AttrValue value in attr.AttrValues)
                            {
                                <option value="@value.ValueID">@value.ValueName</option> 
                            }
                        </select>
                    </li>
                    }
                }
            }
            <li>
                <span class="column-name">单位：</span>

                <select id="smallUnit">
                @foreach (IntFactoryEntity.ProductUnit unit in (List<IntFactoryEntity.ProductUnit>)ViewBag.UnitList)
                {
                    <option value="@unit.UnitID">@unit.UnitName</option> 
                }
                </select>
            </li>
            <li>
                <span class="column-name">价格：</span><input type="text" maxlength="10" data-empty="*" data-type="double" data-text="请输入数字!"  id="price" class="input verify width80" />
            </li>
            <li>
                <span class="column-name">缩略图：</span><span id="productUpload" class="btn">添加图片</span>
            </li>
            <li>
                <span class="column-name">是否启用：</span><label><input type="checkbox" checked="checked" id="status" />是</label> 
            </li>
            <li>
                <span class="column-name">是否公开：</span><label><input type="checkbox" id="isPublic" />是<span class="red">(谨慎操作:材料公开后其他厂商也可以查看和选购)</span> </label> 
            </li>
            <li>
                <span class="column-name">材料说明：</span><div id="remark"></div>
            </li>

        </ul>
        <img class="product-img" id="productImg" alt="" src="" />
        <div class="mTop20" style="padding:0 20px;">
            <div class="btn left" id="btnSaveProduct" data-id="1">保存</div>
            <a class="btn-back left mLeft10" title="返回" href="/Products/ProductList">返回</a>
        </div>
    </div>
    <div id="childproduct" class="hide mTop20">
        <table class="table-list child-table-list clear">
            <tr class="tr-header" id="header-items">
                <td class="tLeft">略缩图</td>
                <td class="tLeft">编码</td>
                <td class="tLeft">规格</td>
                <td class="tLeft">描述</td>
                <td class="m-len tRight">价格/@(model.SmallUnit.UnitName)</td>
                <td class="m-len">启用/禁用</td>
                <td class="s-len">编辑</td>
            </tr>
        </table>
    </div>
</div>
