@{
    var wares = (List<IntFactoryEntity.WareHouse>)ViewBag.Wares;
}
@section css{
    <link href="/modules/css/stock/stock.css" rel="stylesheet" />
    <link href="/modules/plug/daterangepicker/daterangepicker.css" rel="stylesheet" />
}
@section scripts{
    <script src="/Scripts/jquery-1.11.1.js"></script>
    <script type="text/javascript">
        seajs.use(["scripts/products/purchases"], function (obj) {
            obj.init('@ViewBag.Type', '@Html.ToJSONString(wares)');
        });
    </script>
}
<div class="header-box">
    <span class="header-title left">@ViewBag.Title</span>
    <div id="btnCreate" class="btn-add right mLeft20 mRight20 @(ExpandClass.IsLimits(HttpContext.Current,"103029001"))">提交采购单（@(ViewBag.PurchasesCount)）</div>
    <a class="btnccc right @(ExpandClass.IsLimits(HttpContext.Current,"103029001")) " href="/Products/ChooseProducts">选择采购材料</a>
</div>
<div class="search-header">
    <ul class="search-tab search-status">
        <li data-id="-1" class="hover">全部</li>
        <li data-id="0" class="">待审核</li>
        <li data-id="1" class="">部分入库</li>
        <li data-id="2" class="">已入库</li>
    </ul>
        
</div>
<div class="content-body">
    <div class="search-items mTop10">
        @*<div id="providers" class="left"></div>*@
        <div class="left">
            <span class="width80">采购日期：</span>
            <input type="text" id="iptCreateTime" class="ipt-date hand" readonly="true" />
        </div>
        <div class="right searth-module" data-text="关键字搜索..." data-width="160"> </div> 
    </div>
    <table class="table-items-detail">
        <tr class="table-header">
            <td class="tLeft width50">样图</td>
            <td class="tLeft">名称</td>
            <td>编码</td>
            <td>数量</td>
            <td>采购价</td>
            <td>总金额</td>
            <td>状态</td>
        </tr>
    </table>
    <div class="mTop20" id="pager"></div>
</div>
<ul class="dropdown-ul hide" style="width:65px;">
    <li class="@(ExpandClass.IsLimits(HttpContext.Current,"103029002"))" id="audit">审核</li>
    <li class="@(ExpandClass.IsLimits(HttpContext.Current,"103029004"))" id="delete">删除</li>
</ul>
