@{
    ViewBag.Title = "系统菜单管理";
    var model = (IntFactoryEntity.Manage.SystemMenu)ViewBag.Model;
}

@section scripts{
    <script type="text/javascript">
        seajs.use(["scripts/system/menu"], function (Industry) {
            Industry.detailInit();
        });
    </script>
}
<link href="/modules/css/clients.css" rel="stylesheet" />

<div class="header-box">
    <span class="header-title">添加系统菜单</span>
</div>

<div class="content-body mTop20">
    <ul class="contentnew" style="display:block;">
        <li>
            <span class="columnname">上级菜单：</span>
            <span>@(ViewBag.PCodeName)</span>
        </li>
        <li>
            <span class="columnname">名称：</span>
            <span><input type="text" id="Name" class="verify" value="@(model.Name)"  maxlength="11"  data-empty="名称不能为空!" /></span>
        </li>
         <li>
            <span class="columnname">控制器：</span>
            <span><input type="text" id="Controller" class="verify" value="@(model.Controller)" maxlength="11"  data-empty="控制器不能为空!" /></span>
        </li>
         <li>
            <span class="columnname">视图：</span>
            <span><input type="text" id="View" class="verify" value="@(model.View)" maxlength="11"  data-empty="视图不能为空!" /></span>
        </li>
         <li>
            <span class="columnname">排序：</span>
            <span><input type="text" id="Sort" class="verify" value="@(model.Sort)" maxlength="11" value="0"  data-empty="排序不能为空!" /></span>
        </li>
    </ul>

    <div class="mTop20">
        <input type="button" id="saveMenu" class="btn" value="添加" />
    </div>
</div>
<input type="hidden" value="@(ViewBag.MenuCode)" id="MenuCode" />
<input type="hidden" value="@(ViewBag.PCode)" id="PCode" />
<input type="hidden" value="@(ViewBag.Layer)" id="Layer" />
