@{
    ViewBag.Title = "权限设置";
    var menus = (List<IntFactoryEntity.Menu>)ViewBag.Menus;
    var model = (IntFactoryEntity.Role)ViewBag.Model;
}

@section css{
    <link rel="stylesheet" href="/modules/css/system/organization.css" />
}
@section scripts{
    <script type="text/javascript">
        seajs.use(["scripts/organization/roles"], function (obj) {
            obj.initPermission('@(model.RoleID)', '@Html.ToJSONString(menus)', '@Html.ToJSONString(model.Menus)');
        });
    </script>
}
<div class="header-box">
    <span class="header-title left">权限设置</span>
</div>
<div class="content-body">
    <h1 class="font16">@(model.Name)-权限设置</h1>
    <div id="rolePermission" class="menulist mTop10">

    </div>
    <div class="mTop20">
        <div class="btn @(ExpandClass.IsLimits(HttpContext.Current,"108010203"))" id="savePermission">保存</div>
        <a href="/Organization/Roles" class="btnccc mLeft10">返回</a>
    </div>
</div>
