@{
    ViewBag.Title = "首页";
    Layout = "/Views/Shared/_LayoutNoLeft.cshtml";
}
@section css{
    <link href="/modules/css/home.css" rel="stylesheet" />
}
@section scripts{
    <script type="text/javascript">
       seajs.use(["scripts/home/index"], function (obj) {
           obj.init('@ViewBag.orderLevel', '@ViewBag.taskLevel', '@ViewBag.RemainDay', '@ViewBag.RemainDate',
               '@(Html.ToJSONString((List<IntFactoryEntity.LableColorEntity>)ViewBag.OrderMarks))', 
               '@(Html.ToJSONString((List<IntFactoryEntity.LableColorEntity>)ViewBag.TaskMarks))');
       });
    </script>
}

<div class="index-report-header">
    <div class="left order-type">
        <span class="report-title hover" data-id="1">我的订单</span>
        <span class="report-title-task " data-id="2">我的任务</span>
    </div>

    <div class="right" style="margin-right:-30px;">
        <div class="left font14" style="line-height:43px;margin-top:-4px">交货时间:</div>

        <div class="mLeft10 left mTop8 font16 select-time select-time-left"><</div>        
        <div class="mLeft15 left mTop8 time-now" data-before="@(DateTime.Now.AddDays(-15).ToString("MM.dd"))—@(DateTime.Now.AddDays(-1).ToString("MM.dd"))" data-after="@(DateTime.Now.AddDays(15).ToString("MM.dd"))—@(DateTime.Now.AddDays(29).ToString("MM.dd"))" data-now="@(DateTime.Now.ToString("MM.dd"))—@(DateTime.Now.AddDays(14).ToString("MM.dd"))" style="line-height:20px;">
            @(DateTime.Now.ToString("MM.dd"))—@(DateTime.Now.AddDays(14).ToString("MM.dd"))
        </div>      
        <div class="mLeft15 left mTop8 font16 mRight20 select-time select-time-right">></div>
        <div class="left mTop3" id="orderType" style="background-color:#fff"></div>
        <div class="right mLeft15 mRight15 mTop3 hide" id="chooseBranch" style="background-color:#fff"></div>
    </div>   
    <div class="clear"></div>    
</div>

<div class="index-report">  
    <div class="index-report-sum">
        <div class="left">
            <ul class="sum-list">
                <li class="active" data-orderfilter="-1">
                    <div class="sun-count total" id="totalSumCount">0</div>
                    <div><span class="report-total-title" style="color:#888;">全部订单</span></div>
                </li>
                <li data-orderfilter="1">
                     <span class="sun-count exceed" id="totalExceedCount">0</span>
                    <div>已超期</div>
                </li>
                 <li data-orderfilter="2">
                     <div class="sun-count warn" id="totalWarnCount">0</div>
                    <div>快到期</div>
                </li>
                <li data-orderfilter="3">
                     <div class="sun-count work" style="margin-left:0px;" id="totalWorkCount">0</div>
                    <div>正常</div>
                </li>
                 <li data-orderfilter="4">
                     <div class="sun-count finish" id="totalFinishCount">0</div>
                    <div>已完成</div>
                </li>
            </ul>
            <div class="clear"></div>
        </div>        
        <div class="clear"></div>
    </div>

    <div class="index-report-content">
        <div class="report-guid">
            <ul>
                <li><div class="guid-count">5</div></li>
                <li><div class="guid-count">4</div></li>
                <li><div class="guid-count">3</div></li>
                <li><div class="guid-count">2</div></li>
                <li><div class="guid-count">1</div></li>
                <li style="height:0px;"><div class="guid-count">0</div></li>
            </ul>
            <div class="clear"></div>
        </div>
    </div>
</div>

<div class="token-count">
    <div class="token-mark left"></div>    
    <div class="left mRight15 ordertotal get-need" >
        <span class=" font14 hover">需求订单总数:</span>
        <span class="mLeft5 total-need color666">0</span>
    </div>    
    <div class="left mRight20 mTop5" style="width:2px;height:15px;background-color:#ccc;"></div>
    <div class="ordertotal  get-ecceed width350" title="获取所有超期数据">
        <span class=" font14">超期订单总数:</span>
        <span class="mLeft5 total-ecceed colorfff">0</span>
    </div>    
    <div class="task-status hide">
        <div class="left mRight30 font14" style="margin-top:-1px;">上级任务进度:</div>
        <ul class="task-status-ul">
            <li class="hover" data-taskstatusid="-1">全部</li>
            <li  data-taskstatusid="0">未接收</li>
            <li  data-taskstatusid="1">进行中</li>
            <li  data-taskstatusid="2">已完成</li>
            <li  data-taskstatusid="9">无上级</li>
        </ul>
    </div>
</div>

<div class="clear"></div>
<div class="index-list">
    <div class="order-list">
        <div class="list-header center pBottom5">
            <span class="list-title">需求订单总数</span>
            <span class="mLeft15 list-total ">0</span>            
            <div class="clear"></div>
        </div>
        <div class="right mTop5 hide" id="taskType" style="background-color:#fff;margin-top:-35px;"></div>
        <div class="order-layerbox">            
        </div>
        <div class="center load-box hide">
            <span class="font14 hand load-more">加载更多</span>
        </div>
    </div>
</div>