@{
    ViewBag.Title = "首页";
    Layout = "/Views/Shared/_LayoutNoLeft.cshtml";
}
@section css{
    <link href="/modules/css/home/index.css" rel="stylesheet" />
}
@section scripts{
    <script type="text/javascript">
       seajs.use(["scripts/home/index"], function (obj) {
           obj.init('@ViewBag.Level', '@ViewBag.UserID');
       });
    </script>
}

<div class="index-report">
    <div class="index-report-header">
        <div class="left">
            <span class="font14 order-msg">订单</span>
            <span class="mLeft20">@(DateTime.Now.ToString("MM.dd"))—@(DateTime.Now.AddDays(14).ToString("MM.dd"))</span>
        </div>
        <div class="right order-type">
            <span class="hover" data-id="1">订单</span><span data-id="2">任务</span>
        </div>
        <div class="clear"></div>
    </div>

    <div class="index-report-sum">
        <div class="left">
            <ul class="sum-list">
                <li class="active" data-orderfilter="-1">
                    <div class="sun-count total" id="totalSumCount">0</div>
                    <div>全部<span class="order-msg" style="color:#888;">订单</span></div>
                </li>
                <li data-orderfilter="1">
                     <span class="sun-count exceed" id="totalExceedCount">0</span>
                    <div>已超期</div>
                </li>
                 <li data-orderfilter="2">
                     <div class="sun-count warn" id="totalWarnCount">0</div>
                    <div>快到期</div>
                </li>
                <li data-orderfilter="3">
                     <div class="sun-count work" style="margin-left:0px;" id="totalWorkCount">0</div>
                    <div>正常</div>
                </li>
                 <li data-orderfilter="4">
                     <div class="sun-count finish" id="totalFinishCount">0</div>
                    <div>已完成</div>
                </li>
            </ul>
            <div class="clear"></div>
        </div>
        <div class="right">
            <div class="right mRight15" id="orderType"></div>
            <div class="right mRight30 ordertotal" ><span>需求订单总数:</span><span class="mLeft5 total-need" style="color:#666;">0</span></div>
            <div class="right mRight15 ordertotal hand get-ecceed" style="background-color:#ffebeb;border:1px solid #fddddd ;" title="获取所有超期数据"><span>超期订单总数:</span><span class="mLeft5 total-ecceed" style="color:#666;">0</span></div>
        </div>
        <div class="clear"></div>
    </div>

    <div class="index-report-content">
        <div class="report-guid">
            <ul>
                <li><div class="guid-count">5</div></li>
                <li><div class="guid-count">4</div></li>
                 <li><div class="guid-count">3</div></li>
                <li><div class="guid-count">2</div></li>
                <li><div class="guid-count">1</div></li>
                <li style="height:0px;"><div class="guid-count">0</div></li>
            </ul>
            <div class="clear"></div>
        </div>

       @* <div class="report-item">
            <ul>
                <li style="line-height:40px;" >40</li>
                <li style="line-height:30px;" class="item-finish">30</li>
                <li style="line-height:90px;" class="item-work">90</li>
                <li style="line-height:100px;" class="item-exceed">50</li>
            </ul>
            <div class="item-date">5月30日</div>
        </div>*@
    </div>
</div>

<div class="index-list">
    <div class="left order-list">
        <div class="list-header">
            <span class="show-timemsg">已超期</span>
            <span class="mLeft15 list-total ">0</span>
        </div>
        <div class="order-layerbox mTop20">
            <div class="layer-lump"></div>
       </div>
        <div class="center load-box hide">
            <span class="font14 hand load-more">加载更多</span>
        </div>
    </div>
    <div class="right author-message">
        <ul>
            <li>
                <p class="remain-day @(ViewBag.RemainDay<30?"red":"blue")">@(ViewBag.RemainDay)</p>
                <p>剩余天数</p>
            </li>
            <li>
                <p>@(ViewBag.BuyPeople)</p>
                <p>购买人数</p>
            </li>
            <li>
                <p>@(ViewBag.UsePeople)</p>
                <p>使用人数</p>
            </li>
        </ul>
    </div>
    <div class="clear"></div>
</div>