@{
    ViewBag.Title = "新建订单";
    var model = (IntFactoryEntity.Users)Session["ClientManager"];    
    var categoryItems = (List<IntFactoryEntity.Category>)ViewBag.Items;
}

<style>
    .order-imgs { width:400px; height:65px; margin-left:85px; }
    .order-imgs li{ width:60px; height:60px; float:left; margin-left:10px; position:relative;padding:1px;line-height:60px;border:1px solid #eee;}
    .order-imgs li img{ width:60px; height:60px; }
    .order-imgs .ico-delete { position:absolute; top:-9px; right:-7px;  }

    .info-box{line-height:30px;border-bottom:1px solid #eee;margin-bottom:10px;padding-bottom:6px;}
    .info-box span {color:#4a98e7;}
    .info-box .iconfont { font-size:24px;}

    /*复选框样式*/
    .radio-info { font-size:12px;color:#666;}
    .ico-radiobox { vertical-align:middle;}

    .category-item { height:25px; line-height:25px; border:solid 1px #ccc; margin-right:10px; padding:0 15px; cursor:pointer; }
    .category-item:hover { border:solid 1px #4a98e7; }
    .category-item.hover { border:solid 1px #4a98e7; background-color:#4a98e7;color:#fff; }
</style>

@section css{
    <link href="/modules/plug/laydate/need/laydate.css" rel="stylesheet" />
}


@section scripts{
    <script src="/modules/plug/laydate/laydate.js"></script>
        <script type="text/javascript">
        seajs.use(["scripts/orders/create"], function (ObjectJS) {
            ObjectJS.init('@ViewBag.CID', '@(model.ClientID)', '@Html.ToJSONString(categoryItems)');
        });
        var myDate = new Date();
        var minDate = myDate.toLocaleDateString();
        minDate = minDate + " 23:59:59"
        //期望交货日期
        var taskEndTime = {
            elem: '#iptCreateTime',
            format: 'YYYY-MM-DD',
            min: minDate,
            max: '2099-06-16',
            istime: false,
            istoday: false
        };
        laydate(taskEndTime);
    </script>
}
<div class="header-box">
    <span class="header-title left">新建订单</span>
    
</div>
<div class="content-body mTop20">
    <ul class="table-add">
         <li class="mTop10">
            <div class="th pdall info-box" data-type="1">
                <div>
                    <span class="iconfont">&#xe62c;</span>
                    <span>订单信息</span>
                </div>
             </div>
        </li>
        <li>
            <span class="column-title">加工品类：</span>
            <span>
                @foreach (var item in (List<IntFactoryEntity.ProcessCategory>)ViewBag.Categorys)
                {
                     <span class="category-item" data-id="@(item.CategoryID)">@item.Name</span>
                }
            </span>
        </li>
        <li>
            <span class="column-title">订单分类：</span>
            <span class="bigcategory">

            </span>
            <span class="ordercategory">

            </span>
        </li>
        <li id="checkOrderType">
            <div class="mTop10 radio-info">
                <span class="column-title">订单类型：</span>
                <span class="ico-radiobox hover" data-type="1">
                    <span></span>
                </span>
                &nbsp;打样
                <span class="ico-radiobox mLeft30" data-type="2">
                    <span></span>
                </span>
                &nbsp;大货
            </div>
        </li>
        <li>
            <span class="column-title">期望价格：</span>
            <span><input type="text" maxlength="10" id="planPrice"  data-empty="必填" data-type="double" class="input verify" /></span>
        </li>
        <li>
            <span class="column-title">交货日期：</span>
            <span><input type="text" id="iptCreateTime" readonly="true" placeholder="期望交货日期"  class="ipt-date hand" style="width:150px"  /></span>
        </li>
        <li>
            <span class="column-title">快递单号：</span> 
            <span><input type="text" maxlength="50" id="expressCode" class="input" /></span>
        </li>
        <li>
            <span class="column-title">附件：</span>
            <span class="btn" id="productIco">选择图片</span>
        </li>
        <li>
            <ul id="orderImages" class="order-imgs addimg hide">

            </ul>
        </li>
         <li>
            <span class="column-title">详细需求：</span>
            <textarea id="remark" style="height:24px;min-height:20px;line-height:20px;"
                placeholder="如有详细需求请注明具体内容，以免制作时产品遗漏"  
                onpropertychange="this.style.height=this.value.split('\n').length*20 + 'px';this.style.height=this.scrollHeight + 'px';" 
                oninput="this.style.height=this.value.split('\n').length*20 + 'px';this.style.height=this.scrollHeight + 'px';"></textarea>
        </li>
        <li class="mTop10">
            <div class="info-box mBttom10" data-type="2">
                <div>
                    <span class="iconfont">&#xe624;</span>
                    <span>客户信息</span>
                </div>
            </div>
        </li>
        <li  class="company">
            
            <span class="column-title">姓名：</span> 
            <span><input type="text" maxlength="50" id="name" data-empty="必填" class="input verify" /></span>
        </li>
        <li>
            <span class="column-title">联系电话：</span> 
            <span><input type="text" maxlength="11" id="contactMobile" data-empty="必填" data-type="mobile" class="input verify" /></span>
        </li>
        <li>
            <span class="column-title">邮寄地址：</span> 
            <span id="city"></span>
        </li>
        <li>
            <span class="column-title">详细地址：</span> 
            <span><input type="text" maxlength="200" id="address" class="input" /></span>
        </li>
        
    </ul>
    <div class="mTop10">
        <div class="btn mLeft20" id="btnSave">保存</div>
    </div>
</div>

