@{
    Layout = "/Views/Shared/_LayoutContent.cshtml";
    var model = (IntFactoryEntity.GoodsDoc)ViewBag.Model;
    ViewBag.Title = model.DocTypeStr + "详情";
}
<style>
    /*样图信息*/
    .order-imgs-div { width:160px;}
    .order-imgs-div .order-imgs img{ height:160px; width:160px;}
    .order-imgs-list li{ width:60px; height:60px; float:left; border:solid 2px #eee; margin-right:5px; cursor:pointer;}
    .order-imgs-list li.hover{ border-color:red;}
    .order-imgs-list img{ width:60px; height:60px;}
</style>
@section scripts{
    <script type="text/javascript">
        seajs.use(["scripts/purchase/docdetail"], function (obj) {
            obj.init('@(model.DocID)');
        });
    </script>
}
<div class="content-title">
    <span class="titlename">单据编号：@(model.DocCode)</span>
</div>
<div class="content-body">
    
    <ul class="content-info left">
        <li><span class="column-title">总金额：</span>@(model.TotalMoney.ToString("f2"))</li>
        <li><span class="column-title">状态：</span>已审核</li>
        <li><span class="column-title">创建人：</span>@(model.CreateUser.Name)</li>
        <li><span class="column-title">创建日期：</span>@(model.CreateTime.ToString("yyyy-MM-dd"))</li>
        <li><span class="column-title">快递公司：</span>@(model.Express!=null?model.Express.Name:"")</li>
        <li><span class="column-title">快递单号：</span>@(model.ExpressCode)</li>
        <li style="width:100%;"><span class="column-title">备注：</span>@(model.Remark)</li>
    </ul>
    <div class="order-imgs-div right mRight20">
        <div class="order-imgs">
            <img id="orderImage" onerror="document.getElementById('orderImage').src='/modules/images/img-noimg.png'" src="@( string.IsNullOrEmpty(model.DocImage) ? "/modules/images/img-noimg.png" : model.DocImage)" />
        </div>
        <ul class="order-imgs-list"></ul>
    </div>
    <div class="clear"></div>
     <div class="tab-nav mTop30">
        <ul class="tab-nav-ul left">
            <li class="hover " data-id="navProduct">明细</li>
        </ul>
    </div>
    <table class="table-list mTop20 nav-partdiv" id="navProduct">
        <tr class="tr-header">
            <td class="tLeft">规格</td>
            <td class="">数量</td>
            <td class="tRight">累计数量</td>
        </tr>
        @foreach (var item in model.Details)
        { 
            <tr class="item" >
                <td>@(item.Remark)</td>
                <td class="center">@(item.Quantity)</td>
                <td class="tRight">@(item.Complete)</td>
            </tr>
        }
    </table>
</div>
