@{
    var list = (List<IntFactoryEntity.Custom.CustomerColorEntity>)ViewBag.list;
}
@section css{
    <link href="/modules/css/default/orders.css" rel="stylesheet" />
    <link href="/modules/plug/daterangepicker/daterangepicker.css" rel="stylesheet" />
}
@section scripts{
    <script src="/Scripts/jquery-1.11.1.js"></script>
    <script src="/modules/plug/laydate/laydate.js"></script>
    <script type="text/javascript">
        seajs.use(["scripts/orders/orders"], function (ObjectJS) {
            ObjectJS.init('@ViewBag.Type', '@(ViewBag.State)','@Html.ToJSONString(list)');
        });
    </script>
}
<div class="header-box">
    <span class="header-title left">@ViewBag.Title</span>
</div>
<div class="search-header">
    <ul class="search-tab search-orderstatus">
        <li data-id="1" class="@(ViewBag.State==-1?"hover":"")">进行中</li>
        <li data-id="0" class="@(ViewBag.State==0?"hover":"")">需求单</li>
        <li data-id="2" class="">已完成</li>
        <li data-id="8" class="">已终止</li>
        <li data-id="-1" >全部订单</li>
    </ul>
</div>
<div class="content-body">
    <div class="search-body">
        <ul class="search-item search-ordertype">
            <li class="column-name">类型：</li>
            <li data-id="" class="item hover">全部</li>
            <li data-id="1" data-hide="2" class="item">打样单</li>
            <li data-id="2" data-hide="1" class="item">大货单</li>
        </ul>
        <ul class="search-item search-status">
            <li class="column-name">状态：</li>
            <li data-id="-1" class="item hover">全部</li>
            <li data-id="0" class="item" data-type="0">需求单</li>
            <li data-id="1" data-hide="1" class="item" data-type="1">打样中</li>
            <li data-id="2" data-hide="1" class="item" data-type="1">核价中</li>
            <li data-id="3" data-hide="1" class="item" data-type="2">封样封价</li>
            <li data-id="4" data-hide="2" class="item" data-type="1">待大货</li>
            <li data-id="5" data-hide="2" class="item" data-type="1">生产中</li>
            <li data-id="6" data-hide="2" class="item" data-type="1">生产完成</li>
            <li data-id="7" data-hide="2" class="item" data-type="2">交易结束</li>
        </ul>
        <ul class="search-item search-source">
            <li class="column-name">来源：</li>
            <li data-id="-1" class="item hover">全部</li>
            <li data-id="1" class="item">工厂</li>
            <li data-id="2" class="item">自助</li>
            <li data-id="3" class="item">阿里</li>
        </ul>
        <ul class="search-item search-warning">
            <li class="column-name">预警：</li>
            <li data-id="-1" class="item hover">全部</li>
            <li data-id="1" class="item">快到期</li>
            <li data-id="2" class="item">已超期</li>
        </ul>
        <ul class="search-item-color search-mark">
            <li class="column-name">标记：</li>
            <li data-id="-1" class="item mark-all hover"></li>
            <li data-id="0" class="item mark0" data-name="默认"></li>
            @foreach (var item in list)
            {
                <li data-id="@item.ColorID" class="item" style="border:solid 1px @item.ColorValue;background-color:@item.ColorValue" data-name="@item.ColorName"></li>
            }   
        </ul>
    </div>
    <div class="search-items mTop10">
        <div class="left mRight20" id="chooseBranch"></div>
        <div class="left">
            <input type="text" id="iptCreateTime" placeholder="交货日期"  class="ipt-date"  />
        </div>
        <div class="right searth-module" data-text="关键字搜索..." data-width="260"> </div>
    </div>
    <ul class="search-sort">
        <li>排序</li>
        <li class="sort-item hover" data-column="CreateTime">
            下单日期
            <span class="asc"></span>
            <span class="desc hover"></span>
        </li>
        <li class="sort-item" data-column="PlanTime">
            交货日期
            <span class="asc"></span>
            <span class="desc"></span>
        </li>
    </ul>
    <div class="object-items" id="orderItems">

    </div>
    <div class="clear"></div>
    <div id="pager" class="mTop20"></div>
</div>
<div class="order-layer">
    <div class="layer-header">
        订单详情概览 <span id="closeLayer" class="iconfont right mRight10">&#xe606;</span>
    </div>
</div>

