@{
    
}
@section css{
    <link href="/modules/css/default/orders.css" rel="stylesheet" />
}
@section scripts{
    <script src="/Scripts/jquery-1.11.1.js"></script>
    <script src="/modules/plug/laydate/laydate.js"></script>
    <script type="text/javascript">
        seajs.use(["scripts/orders/orders"], function (ObjectJS) {
            ObjectJS.init('@ViewBag.Type', '@(ViewBag.State)');
        });
        $(function () {
            var begin = {
                elem: '#BeginTime',
                format: 'YYYY-MM-DD',
                max: '2099-06-16',
                istime: false,
                istoday: false,
                choose: function (datas) {
                    end.min = datas; //开始日选好后，重置结束日的最小日期
                    end.start = datas //将结束日的初始值设定为开始日
                }
            };

            var end = {
                elem: '#EndTime',
                format: 'YYYY-MM-DD',
                max: '2099-06-16',
                istime: false,
                istoday: false,
                choose: function (datas) {
                    begin.max = datas; //结束日选好后，重置开始日的最大日期
                }
            };
            laydate(begin);
            laydate(end);
        });
    </script>
}
<div class="header-box">
    <span class="header-title left">@ViewBag.Title</span>
</div>
<div class="search-header">
    <ul class="search-tab search-orderstatus">
        <li data-id="-1" class="@(ViewBag.State==-1?"hover":"")">全部订单</li>
        <li data-id="0" class="@(ViewBag.State==0?"hover":"")">需求单</li>
        <li data-id="1" class="">进行中</li>
        <li data-id="2" class="">已完成</li>
        <li data-id="8" class="">已终止</li>
    </ul>
</div>
<div class="content-body">
    <div class="search-body">
        <ul class="search-item search-ordertype">
            <li class="column-name">类型：</li>
            <li data-id="" class="item hover">全部</li>
            <li data-id="1" class="item">打样单</li>
            <li data-id="2" class="item">大货单</li>
        </ul>
        <ul class="search-item search-status">
            <li class="column-name">状态：</li>
            <li data-id="-1" class="item hover">全部</li>
            <li data-id="0" class="item">需求单</li>
            <li data-id="1" class="item">打样中</li>
            <li data-id="2" class="item">核价中</li>
            <li data-id="3" class="item">封样封价</li>
            <li data-id="4" class="item">待大货</li>
            <li data-id="5" class="item">生产中</li>
            <li data-id="6" class="item">生产完成</li>
            <li data-id="7" class="item">交易结束</li>
        </ul>
        <ul class="search-item search-source">
            <li class="column-name">来源：</li>
            <li data-id="-1" class="item hover">全部</li>
            <li data-id="1" class="item">工厂</li>
            <li data-id="2" class="item">自助</li>
            <li data-id="3" class="item">阿里</li>
        </ul>
        <ul class="search-item-color search-mark">
            <li class="column-name">标记：</li>
            <li data-id="-1" class="item mark-all hover"></li>
            <li data-id="0" class="item mark0"></li>
            <li data-id="1" class="item mark1"></li>
            <li data-id="2" class="item mark2"></li>
            <li data-id="3" class="item mark3"></li>
            <li data-id="4" class="item mark4"></li>
            <li data-id="5" class="item mark5"></li>
        </ul>
    </div>
    <div class="search-items mTop10">
        <div class="left mRight20" id="chooseBranch"></div>
        <div class="left">
            <span class="width80">交货日期：</span><input type="text" id="BeginTime"  class="input width80"  />
            <span class="pLeft5 pRight5">至</span><input type="text" id="EndTime"  class="input width80"  />
            <span class="btn mLeft10" id="btnSearch">搜索</span>
        </div>
        <div class="right searth-module" data-text="关键字搜索..." data-width="260"> </div>
    </div>
    <ul class="search-sort">
        <li>排序</li>
        <li class="sort-item hover" data-column="CreateTime">
            下单日期
            <span class="asc"></span>
            <span class="desc hover"></span>
        </li>
        <li class="sort-item" data-column="PlanTime">
            交货日期
            <span class="asc"></span>
            <span class="desc"></span>
        </li>
    </ul>
    <div class="object-items" id="orderItems">

    </div>
    <div class="clear"></div>
    <div id="pager" class="mTop20"></div>
</div>

