@{
    var order = (IntFactoryEntity.OrderEntity)ViewBag.Model;
    var client = (IntFactoryEntity.Manage.Clients)ViewBag.Client;
    var list = (List<IntFactoryEntity.OrderCostEntity>)ViewBag.List;
    ViewBag.Title = "FentOrderReport";
    Layout = null;
}

<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="content-language" content="zh-CN" />
	<meta name="author" content="zuroke" />
	<title>样衣报告</title>
    <link href="/modules/css/default/layout.css" rel="stylesheet" />
    <link href="/modules/css/base.css" rel="stylesheet" />
    <link href="/modules/css/default/FentOrderReport.css" rel="stylesheet" />
    <script src="/Scripts/jquery-1.11.1.js"></script>    
    <script src="/Scripts/sea.js"></script>
    <script src="/Scripts/sea-config.js"></script>
    <script type="text/javascript">
        seajs.use(["scripts/orders/fentorderreport"], function (obj) {
            obj.init('@order.Platemaking');
        });

    </script>

</head>
<body>
   
    <table style="margin-left:20%;margin-bottom:20px;" id="tabletoexcel">
        <tr>
            <td colspan="4">
                <div class="titlename">@(client.CompanyName==""?"--":client.CompanyName)</div>
            </td>
            
        </tr>
        
        <tr>
            <td id="Platemak">
                
            </td>
            <td>
                <table class="no-border style-information">
                    <tr>
                        <td colspan="2" class="no-border">款式信息</td>
                    </tr>
                    <tr>
                        <td class="no-border-left">款号:</td>
                        <td>@(order.IntGoodsCode==""?"--":order.IntGoodsCode)</td>
                    </tr>            
                    <tr>
                        <td class="no-border-left">品名:</td>
                        <td class="no-border-left">@(order.GoodsName==""?"--":order.GoodsName)</td>
                    </tr>
                    <tr>
                        <td class="no-border-left">设计师:</td>
                        <td class="no-border-left">@(order.GoodsName==""?"--":order.GoodsName)</td>
                    </tr>
                    <tr>
                        <td class="no-border-left">制版:</td>
                        <td>@(order.Tasts.Find(m=>m.Mark==12).Owner.Name)</td>
                    </tr>
                    <tr>
                        
                        <td class="no-border-left">做样:</td>
                        <td class="no-border-right">袁银平</td>
                    </tr>
                    <tr>
                        <td class="no-border-left no-border-bottom">时间:</td>
                        <td class="no-border-bottom">@(order.PlanTime.ToString("yyyy-MM-dd"))</td>
                        
                    </tr>
                    
                </table>
            </td>
            <td>
                <img src='@(order.OrderImage==""?"/modules/images/none-img.png":order.OrderImage)' />
            </td>
            <td>
                <table class="no-border">
                    <tr><td class="font20 no-border">报价</td></tr>
                    <tr><td class="no-border-left no-border-bottom">@(order.FinalPrice.ToString("f2"))</td></tr>
                </table>
            </td>        
        </tr>
        <tr>
            <td>
                <table class="no-border">
                    <tr>
                        <td class="no-border-top no-border-left no-border-bottom">手感样</td>
                        <td class="no-border-top no-border-bottom">面料编码</td>
                        <td class="no-border-top no-border-bottom">面料成分</td>
                        <td class="no-border-top no-border-bottom no-border-right">供应商</td>
                    </tr>
                </table>
            </td>
            <td>
                <table class="no-border">
                    <tr>
                        <td class="no-border-top no-border-left no-border-bottom">联系方式</td>
                        <td class="no-border-top no-border-bottom no-border-right">地址</td>
                    </tr>
                </table>
            </td>
            <td>
                <table class="no-border">
                    <tr>
                        <td class="no-border-top no-border-left no-border-bottom">门幅</td>
                        <td class="no-border-top no-border-bottom">用料</td>
                        <td class="no-border-top no-border-bottom">单位</td>
                        <td class="no-border-top no-border-bottom no-border-right">单价</td>
                    </tr>
                </table>
            </td>
            <td>成本</td>         
        </tr>
        @foreach (var detail in order.Details)
        {
            <tr>
            <td>
                <table class="no-border">
                    <tr>
                        <td class="no-border-top no-border-left no-border-bottom"></td>
                        <td class="no-border-top no-border-bottom">@(string.IsNullOrEmpty(detail.DetailsCode) ? detail.ProductCode : detail.DetailsCode)</td>
                        <td class="no-border-top no-border-bottom">面料成分</td>
                        <td class="no-border-top no-border-bottom no-border-right"></td>
                    </tr>
                </table>
            </td>
            <td>
                <table class="no-border">
                    <tr>
                        <td class="no-border-top no-border-left no-border-bottom">联系方式</td>
                        <td class="no-border-top no-border-bottom no-border-right">地址</td>
                    </tr>
                </table>
            </td>
            <td>
                <table class="no-border">
                    <tr>
                        <td class="no-border-top no-border-left no-border-bottom">门幅</td>
                        <td class="no-border-top no-border-bottom">@(detail.Quantity.ToString("f3"))</td>
                        <td class="no-border-top no-border-bottom">@(detail.UnitName)</td>
                        <td class="no-border-top no-border-bottom no-border-right">@(detail.Price.ToString("f2"))</td>
                    </tr>
                </table>
            </td>
            <td>成本</td>         
        </tr>
        }
        
        
            
        
    </table>
    
    @*<div class="export">
        <input type="button" id="btnWord" value="导出Word文档" /> 
    </div>*@
      
</body>
</html>



