@{
    var order = (IntFactoryEntity.OrderEntity)ViewBag.Model;
    var client = (IntFactoryEntity.Manage.Clients)ViewBag.Client;
    var list = (List<IntFactoryEntity.OrderCostEntity>)ViewBag.List;
    ViewBag.Title = "打样报价";
    Layout = null;
}

<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="content-language" content="zh-CN" />
	<meta name="author" content="zuroke" />
	<title>@ViewBag.Title</title>
    <link href="/modules/css/default/layout.css" rel="stylesheet" />
    <link href="/modules/css/base.css" rel="stylesheet" />
    <link href="/modules/css/default/fentorderreport.css" rel="stylesheet" />
    <link href="/modules/css/iconfont/iconfont.css" rel="stylesheet" />

    <script src="/Scripts/jquery-1.11.1.js"></script>    
    <script src="/Scripts/sea.js"></script>
    <script src="/Scripts/sea-config.js"></script>
    <script type="text/javascript">
        seajs.use(["scripts/orders/fentorderreport"], function (obj) {
            obj.init('@order.Platemaking', '@order.Price.ToString("f2")', '@(order.CostPrice.ToString("f2"))');
        });

    </script>

</head>
<body>
<div class="report">
   <div class="font18 mBottom5 preview">报价预览:</div>
   <div class="left report-tb">
       <table width="100%" id="tabletoexcel">
        <tr>
            <td colspan="4">
                <div class="titlename">@(client.CompanyName==""?"--":client.CompanyName)</div>
            </td>
        </tr>
        
        <tr>
            <td id="Platemak" style="width:300px;"></td>
            <td style="width:250px;">
                <table class="no-border style-information" style="height:100%;">
                    <tr>
                        <td colspan="2" class="no-border" style="font-size:18px;padding:2px;">款式信息</td>
                    </tr>
                    <tr>
                        <td class="no-border-left">款号:</td>
                        <td class="no-border-right">@(order.IntGoodsCode==""?"--":order.IntGoodsCode)</td>
                    </tr>            
                    <tr>
                        <td class="no-border-left">品名:</td>
                        <td class="no-border-right">@(order.CategoryName==""?"--":order.CategoryName)</td>
                    </tr>
                    <tr>                        
                        <td class="no-border-left"><i class="iconfont icon-delete customer">&#xe613;</i>客户:</td>
                        <td class="no-border-right">@(order.Customer.Name==""?"--":order.Customer.Name)</td>
                    </tr>
                    <tr>
                        <td class="no-border-left">制版:</td>
                        <td class="no-border-right">@(order.Tasts.Find(m=>m.Mark==12).Owner.Name)</td>
                    </tr>                    
                    <tr>
                        <td class="no-border-left no-border-bottom">时间:</td>
                        <td class="no-border-bottom no-border-right">@(order.PlanTime.ToString("yyyy-MM-dd"))</td>
                        
                    </tr>
                    
                </table>
            </td>
            <td>
                <img src='@(order.OrderImage==""?"/modules/images/none-img.png":order.OrderImage)' />
            </td>
            <td>
                <table class="no-border" style="height:100%">
                    <tr><td class="font20 no-border">报价</td></tr>
                    <tr>
                        <td class="no-border-left no-border-bottom no-border-right priceoffer">
                            <input type="text" class="offer" value="" style="border-color:#4798ea" />
                        </td>
                    </tr>
                </table>
            </td>        
        </tr>
        <tr>
            <td colspan="4" style="font-size:18px;font-weight:500;">材料成本</td>
        </tr>
        <tr>
            <td colspan="4">
                <table class="no-border Processing">
                    <tr class="longtd">
                        <td style="width:8%;font-size:16px;" class="no-border-top no-border-left">面料编码</td>       
                        <td style="width:10%;font-size:16px;" class="no-border-top">
                            <i class="iconfont icon-delete providers ">&#xe613;</i>
                            供应商
                        </td>
                        <td style="width:100px;font-size:16px;" class="no-border-top">
                            <i class="iconfont icon-delete phones" style="margin-right:0">&#xe613;</i>
                            联系方式
                        </td>
                        <td style="width:20%;font-size:16px;" class="no-border-top"> 
                            <i class="iconfont icon-delete addresses">&#xe613;</i>
                            地址  
                        </td>
                        <td style="font-size:16px;" class="no-border-top">门幅</td>
                        <td style="font-size:16px;width:8%" class="no-border-top">用料</td>
                        <td style="font-size:16px;width:5%" class="no-border-top">单位</td>
                        <td style="font-size:16px;width:10%" class="no-border-top">单价</td>
                        <td style="font-size:16px;" class="no-border-top no-border-right">成本</td>         
                    </tr>

                    @if (order.Details.Count>0)
                    {
                        foreach (var detail in order.Details)
                        {
                            <tr>
                                <td class="no-border-left">@(detail.ProductName==""?"--":detail.ProductName)</td>
                                <td class="provider">美丽纺织</td>
                                <td class="phone">0571-56281691</td>
                                <td class="address">四季青面料市场一区1054号</td>
                                <td>@(detail.Remark==""?"--":detail.Remark)</td>
                                <td>@(detail.Quantity.ToString("f3"))</td>
                                <td>@(detail.UnitName)</td>
                                <td>@(detail.Price.ToString("f2"))</td>
                                <td class="no-border-right">@((detail.TotalMoney).ToString("f3"))</td>         
                            </tr>
                        }
                    }
                    else
                    {
                        <tr><td class="no-border-left no-border-right" colspan="9"><div class="nodata-txt">暂无数据!</div></td></tr>
                    }
                </table>
            </td>
        </tr>

        <tr>
            <td colspan="4" style="font-size:18px;">加工费</td>
        </tr>
        <tr>
            <td colspan="4">
                <table width="100%" class="no-border">
                    <tr>
                        <td style="width:50%;font-size:16px;" class="no-border-top no-border-left">加工项</td>
                        <td style="width:50%;font-size:16px;" class="no-border-top no-border-right">金额</td>
            
                    </tr>
                    @if (list.Count>0)
	                {
		                foreach (var item in list)
	                    {
		                    <tr>
                                <td class="no-border-left no-border-bottom">@(item.Remark)</td>
                                <td class="no-border-right no-border-bottom">@(item.Price)</td>
                    
                            </tr>
	                    }
                    }
                    else
                    {
                        <tr><td colspan="4" class="no-border-left no-border-right no-border-bottom"><div class="nodata-txt">暂无数据!</div></td></tr>
                    }
                
                    
                </table>        
            </td>
        </tr>
    </table> 
       <div>
           <span class="btn mTop10">保存</span>
       </div>  
   </div>      
   
    
    
    <div class="export left mLeft50 mTop5 hide">
        <span class="iconfont">&#xe658;</span>   
        
    </div>
    <div class="clear"></div>
 </div>
</body>
</html>



