@{
    ViewBag.Title = "订单详情页";
    var model = (IntFactoryEntity.OrderEntity)ViewBag.Model;
}
@section css{
    <link href="/modules/css/default/orders.css" rel="stylesheet" />
    <link href="/modules/plug/umeditor/themes/default/css/umeditor.min.css" rel="stylesheet" />
}
@section scripts{
    <script src="/Scripts/jquery-1.11.1.js"></script>
    <script src="/modules/plug/laydate/laydate.js"></script>
    <script src="/modules/plug/e-smart-zoom-jquery.min.js"></script>
    <script type="text/javascript">
        seajs.use(["scripts/orders/detail"], function (obj) {
            obj.init('@(model.OrderID)','@(model.Status)','@Html.ToJSONString(model)');
        });
    </script>
}
<div class="header-box">
    <div class="header-title">
        订单详情页&nbsp;—&nbsp;@(!model.IsSelf && !string.IsNullOrEmpty(model.EntrustClientID) ? "委托订单" : model.IsSelf && !string.IsNullOrEmpty(model.EntrustClientID) ? "协助订单" : "本厂订单")
        <a class="back right" href="javascript:if(history.length>1){ history.go(-1);} else{}">
           <i class="iconfont">&#xe62d;</i> 返回 
        </a>
    </div>
    <div class="mTop10">
        <div class="left titlename">订单编号：@(model.OrderCode)</div>
        @if (model.IsSelf && model.OrderStatus < 2)
        {
             <div id="updateOrderInfo" class="left ico-edit iconfont mLeft20 @(ExpandClass.IsLimits(HttpContext.Current, "102019026"))">&#xe607;</div>
        }

        @if (model.IsSelf)
        {
            if (model.OrderStatus == 0)
            {
                if (string.IsNullOrEmpty(model.EntrustClientID))
                {
                    <div class="btnccc right @(ExpandClass.IsLimits(HttpContext.Current, "102019003"))" id="btndelete" >删除</div>
                    <div class="btn mRight10 right @(ExpandClass.IsLimits(HttpContext.Current, "102019007"))" id="btnchangeclient" >订单委托</div>
                }
                else
                {
                    <div class="btn right mLeft10 @(ExpandClass.IsLimits(HttpContext.Current, "102019005"))" id="btnreturn" >退回委托</div>
                }
            }
            else if (model.OrderStatus == 1)
            {
                 <div class="btnccc right @(ExpandClass.IsLimits(HttpContext.Current, "102019027"))" id="btnOverOrder" >终止订单</div>
            }
        }
        <ul class="right status-items mRight50">
            <li data-status="0">
                
                <span class="status-bg"></span>
                <span class="width60">需求单</span>
            </li>
            <li data-status="4">
                
                <span class="status-line"></span>
                <span class="status-time-text mRight5">&nbsp;</span>
            </li>
            <li data-status="4">
                
                <span class="status-bg"></span>
                <span class="width60">待大货</span>
            </li>
            <li data-status="5">
                
                <span class="status-line"></span>
                <span class="status-time-text mRight5">&nbsp;</span>
            </li>
            <li data-status="5">
                
                <span class="status-bg"></span>
                <span class="width60">生产中</span>
            </li>
            <li data-status="6">
                 
                <span class="status-line"></span>
                <span class="status-time-text mRight5">&nbsp;</span>
            </li>
            <li data-status="6">
                
                <span class="status-bg"></span>
                <span class="width60">生产完成</span>
            </li>
            <li data-status="7">
                
                <span class="status-line"></span>
                <span class="status-time-text mRight5">&nbsp;</span>
            </li>
            <li data-status="7">
                
                <span class="status-bg"></span>
                <span class="width60">交易结束</span>
            </li>
        </ul>
    </div>
</div>

<div class="content-title">
    <div class="left titlename">款式编码：@(model.IntGoodsCode)</div>
    <ul class="right">
        <li title="来源打样单">
            <i class="iconfont">&#xe612;</i>
            <a href="/Orders/OrderDetail/@(model.OriginalID)" class="">@(model.OriginalCode)</a>
            @if (string.IsNullOrEmpty(model.OriginalID) && model.IsSelf)
            {
                <div class="btn @(ExpandClass.IsLimits(HttpContext.Current, "102019018"))" id="bindOriginalOrder">绑定打样款号</div> 
            }
        </li>
        <li title="订单品类">
            订单品类：@(model.CategoryName)
        </li>
        <li title="交货日期">
            交货日期：@(model.PlanTime.ToString("yyyy-MM-dd") == "0001-01-01"||model.PlanTime.ToString("yyyy-MM-dd")=="1900-01-01" ? "未设置" : model.PlanTime.ToString("yyyy-MM-dd"))
        </li>
        <li>
            <span class="left"> 负责人：</span><label class="left" id="lblOwner">@(model.Owner != null ? model.Owner.Name : "--")</label>
            @if (model.IsSelf)
            {
                <span title="更换负责人" class="iconfont left change-ico mTop2 mLeft5 @(ExpandClass.IsLimits(HttpContext.Current, "102019004"))" data-userid="@(model.OwnerID)" data-id="@(model.OrderID)" id="changeOwner">&#xe60b;</span>
            }
        </li>
        @if (model.Status > 0)
        {
            <li class="sample-report" data-type="2">
                <span class="iconfont left">&#xe645;</span>
                <span class="left mLeft5 blue">制版工艺</span>
            </li>
        }
       
    </ul>
</div>

<div class="content-body">
   <div class="order-imgs-div left">
        <div class="order-imgs">
            <img id="orderImage" data-self="@(model.IsSelf ? 1 : 0)" src="@(model.OrderImage)" />
            @if (model.SourceType == 3)
            {
               <span class="aliorder">
                  阿里款号：@(model.GoodsCode)
                  <i class="iconfont right">&#xe631;</i>
               </span>
            }
        </div>
        <ul class="order-imgs-list" >

        </ul>
    </div>
    <div class="order-info">
        <div class="name long">
            @(model.GoodsName)
        </div>
        <div class="clear"></div>
        <ul class="left moneyinfo @(ExpandClass.IsLimits(HttpContext.Current, "102010502"))">
             <li class="@(ExpandClass.IsLimits(HttpContext.Current, "102019013"))">
                <span class="column-title">材料成本：</span>
                <label>@((model.Price * model.PlanQuantity).ToString("f2"))</label>
            </li>
            <li class="@(ExpandClass.IsLimits(HttpContext.Current, "102019014"))">
                <span class="column-title">加工成本：</span>
                <label id="lblCostMoney">@((model.CostPrice * model.PlanQuantity).ToString("f2"))</label>
            </li>
            <li class="@(ExpandClass.IsLimits(HttpContext.Current, "102019015"))">
                <span class="column-title">单价：</span>
                <label class="left">@(model.FinalPrice.ToString("f2"))</label>
                @if (model.IsSelf && model.Status == 4)
                { 
                    <div id="updateOrderDiscount" title="编辑订单折扣" class="left ico-edit iconfont mLeft20 @(ExpandClass.IsLimits(HttpContext.Current, "102019023"))">&#xe607;</div>
                }
            </li>
            <li class="@(ExpandClass.IsLimits(HttpContext.Current, "102019016"))">
                <span class="column-title">加工数量：</span>
                <label id="planQuantity">@(model.PlanQuantity)</label>
            </li>
            <li class="@(ExpandClass.IsLimits(HttpContext.Current, "102019016")) @(ExpandClass.IsLimits(HttpContext.Current, "102019015"))">
                <span class="column-title">总金额：</span>
                <label id="totalMoney">@(model.TotalMoney.ToString("f2"))</label>
            </li>
            <li class="@(ExpandClass.IsLimits(HttpContext.Current, "102019017"))">
                <span class="column-title">付款金额：</span>
                <label id="infoPayMoney">@(model.PayMoney.ToString("f2"))</label>
            </li>
        </ul>
        <ul class="cutomerinfo left @(ExpandClass.IsLimits(HttpContext.Current, "102010501"))">
            <li class="@(ExpandClass.IsLimits(HttpContext.Current, "102019029"))">
                <span class="column-title">客户名称：</span> 
                @if (!string.IsNullOrEmpty(model.CustomerID))
                {
                    <a href="/Customer/Detail/@(model.CustomerID)" class="left">@(model.Customer.Name)</a> 
                }
                else if (model.IsSelf)
                {
                    <div id="createOrderCustomer" class="btn left mTop3 @(ExpandClass.IsLimits(HttpContext.Current, "101019001"))">创建客户</div>
                }

                @if (model.IsSelf && model.OrderStatus == 0)
                {
                    <span title="更换客户" class="iconfont change-ico left mLeft10 @(ExpandClass.IsLimits(HttpContext.Current, "102019033"))" data-customerid="@(model.CustomerID)" data-id="@(model.OrderID)" id="changeCustomer">&#xe60b;</span>
                }
            </li>
            <li class="@(ExpandClass.IsLimits(HttpContext.Current, "102019030"))">
                <span class="column-title">联系人：</span>
                <label>@(model.PersonName)</label>
            </li>
             <li class="@(ExpandClass.IsLimits(HttpContext.Current, "102019031"))">
                <span class="column-title">联系方式：</span>
                <label>@(model.MobileTele)</label>
            </li>  
            <li class="@(ExpandClass.IsLimits(HttpContext.Current, "102019032"))">
                <span class="column-title">收货地区：</span>
                <label>@(model.City != null ? (model.City.Province + " " + model.City.City + " " + model.City.Counties) : "")</label>
            </li>
            <li class="@(ExpandClass.IsLimits(HttpContext.Current, "102019032"))">
                <span class="column-title">详细地址：</span>
                <label>@(model.Address)</label>
            </li>
         </ul>
    </div>
    <div class="clear"></div>
     <div class="order-remark">
        <span class="title">详细需求：</span> @(model.Remark.Trim())
    </div>
</div>
<div class="clear"></div>
<div class="process-stages">
    <div class="process-info">
        <div class="left info">订单流程：@(model.OrderProcess.ProcessName)</div>
        @if (model.IsSelf && model.OrderStatus == 0)
        {
            <span title="更换流程" class="change-ico iconfont left mLeft10 @(ExpandClass.IsLimits(HttpContext.Current, "102019006"))" data-processid="@(model.ProcessID)" data-id="@(model.OrderID)" id="changeProcess">&#xe60b;</span>
        }
        <div class="left info mLeft20">负责人：@(model.OrderProcess != null && model.OrderProcess.Owner != null ? model.OrderProcess.Owner.Name : "")</div>

        @if (model.IsSelf)
        {
            if (model.OrderGoods.Count > 0 && model.Status < 7 && model.Status != 5)
            {
                <div class="btn right mLeft20 @(ExpandClass.IsLimits(HttpContext.Current, "102019002"))" id="changeOrderStatus"></div>
            }
            else if (model.OrderGoods.Count == 0 && !string.IsNullOrEmpty(model.OriginalID))
            {
                <div class="btn right mLeft20 @(ExpandClass.IsLimits(HttpContext.Current, "102019020"))" id="confirmDHOrder">确认大货明细</div>
            }
        }

        <ul class="status-desc right">
            <li class="over"><span>已完成</span></li>
            <li class="ing"><span>进行中</span></li>
            <li class=""><span>未开始</span></li>
        </ul>

    </div>
    <div class="clear"></div>
    <ul class="stage-items mTop20 @(ExpandClass.IsLimits(HttpContext.Current, "102010503"))">
        @if (model.OrderStatus > 0)
        {
            foreach (var stage in model.Tasts)
            { 
                <li data-stageid="@(stage.StageID)" data-orderid="@(model.OrderID)" data-lock="@(ExpandClass.IsLimits(HttpContext.Current, "102019034"))" data-limit="@(ExpandClass.IsLimits(HttpContext.Current, "102019022"))" 
                    data-self="@(model.IsSelf ? 1 : 0)" data-mark="@(stage.Mark)" data-taskid="@(stage.TaskID)" class="@(stage.FinishStatus == 0 ? "normal" : stage.FinishStatus == 1 ? "ing" : "over") task-item">
                    <span class="long">@(stage.Title)</span>
                    <span class="long">负责人：@(stage.Owner.Name)</span>
                   @if (stage.LockStatus == 2)
                   {
                       <span class="unlock"></span>
                   }
                </li>
            }
        }
        else
        {
            foreach (var stage in model.OrderProcess.OrderStages)
            { 
                <li data-id="@(stage.StageID)" class="normal">
                    <span class="long">@(stage.StageName)</span>
                    <span class="long">负责人：@(stage.Owner.Name)</span>
                    @*<span class="status">未开始</span>*@
                </li>
            }
        }
    </ul>
</div>

<div class="module-header">
    <ul class="module-tab left">
        <li data-id="navEngraving" class="hover" data-mark="2">制版工艺</li>
        <li class="@(ExpandClass.IsLimits(HttpContext.Current, "102019016"))" data-id="navGoods">订单明细</li>
        <li class="@(ExpandClass.IsLimits(HttpContext.Current, "102019013"))" data-id="navProducts" data-mark="3">材料成本</li>
        <li class="@(ExpandClass.IsLimits(HttpContext.Current, "102019014"))" data-id="navCosts">加工成本</li>
        <li class="@(ExpandClass.IsLimits(HttpContext.Current, "102019010"))" data-btn="btnCutoutOrder" data-id="navCutoutDoc">裁片/织片</li>
        <li class="@(ExpandClass.IsLimits(HttpContext.Current, "102019011"))" data-btn="btnSewnOrder" data-id="navSewnDoc">缝制/套口</li>
        <li class="@(ExpandClass.IsLimits(HttpContext.Current, "102019012"))" data-btn="btnSendOrder" data-id="navSendDoc">发货记录</li>
        <li class="navPays @(ExpandClass.IsLimits(HttpContext.Current, "102019017"))" data-btn="addPay" data-id="navPays">付款记录</li>
        <li data-id="navLog">日志</li>
    </ul>
    @if (model.IsSelf)
    {
        <div id="addPay" class="btn part-btn right mLeft20 @(ExpandClass.IsLimits(HttpContext.Current, "102019017"))">收款登记</div>
        if (model.Status == 5 && model.OrderStatus == 1)
        { 
            <div class="btn part-btn right mLeft20 @(ExpandClass.IsLimits(HttpContext.Current, "102019012"))" id="btnSendOrder">订单发货</div>
            <div class="btn part-btn right mLeft20 @(ExpandClass.IsLimits(HttpContext.Current, "102019011"))" id="btnSewnOrder">缝制/套口录入</div>
            if (model.CutStatus != 2)
            {
                <div class="btn part-btn right mLeft20 @(ExpandClass.IsLimits(HttpContext.Current, "102019010"))" id="btnCutoutOrder">裁片/织片录入</div>
            }
        }
    }
    
</div>

<div class="content-body pBottom50">
     <table id="navCosts" class="table-list mTop20 nav-partdiv hide" data-quantity="@(model.PlanQuantity)">
        <tr class="tr-header">
            <td class="tLeft">描述</td>
            <td class="">金额</td>
            <td class="">添加日期</td>
            <td class="width80">删除</td>
        </tr>
    </table>

    <div id="navGoods" class="nav-partdiv hide">
        <table class="table-list mTop20">
            <tr class="tr-header">
                <td class="tLeft width200">规格</td>
                <td class="width200">下单数量</td>
                <td class="width200">裁片/织片数量</td>
                <td class="width200">缝制/套口数量</td>
                <td class="width200">发货数量</td>
                <td class="width200">剩余未发</td>
                <td class="">单价</td>
                <td class="tRight">小计</td>
            </tr>
            @if (model.OrderGoods.Count > 0)
            {
                foreach (var detail in model.OrderGoods)
                { 
                <tr class="item cart-item" >
                    <td>@(detail.Remark)</td>
                    <td class="center good1">@(detail.Quantity)</td>
                    <td class="center good2">@(detail.CutQuantity)</td>
                    <td class="center good3">@(detail.Complete)</td>
                    <td class="center good4">@(detail.SendQuantity)</td>
                    <td class="center good5">@(detail.Complete - detail.SendQuantity)</td>
                    <td class="center">@(model.FinalPrice.ToString("f2"))</td>
                    <td class="tRight good6">@((detail.TotalMoney).ToString("f2"))</td>
                </tr>                
                }
                <tr class="total-item bold" >
                    <td class="">合计：</td>
                    <td class="center" data-class="good1"></td>
                    <td class="center" data-class="good2"></td>
                    <td class="center" data-class="good3"></td>
                    <td class="center" data-class="good4"></td>
                    <td class="center" data-class="good5"></td>
                    <td class="center"></td>
                    <td class="tRight" data-class="good6"></td>
                </tr>
            }
            else
            {
                <tr><td colspan="7"><div class="nodata-txt">暂无明细</div></td></tr>
            }
            
            
        </table>
    </div>

    <div id="navProducts" class="nav-partdiv hide">
        <table class="table-list mTop20">
            <tr class="tr-header">
                <td class="tLeft">样图</td>
                <td class="tLeft">材料名称</td>
                <td class="tLeft">编码</td>
                <td class="tLeft">规格</td>
                <td class="width80">单位</td>
                <td class="tLeft">单价</td>
                <td class="">消耗量</td>
                <td class="">损耗量</td>
                <td class="">损耗率</td>
                <td>采购量</td>
                <td class="tRight">小计</td>
            </tr>
            @if (model.Details.Count > 0)
            {
                foreach (var detail in model.Details)
                { 
                <tr class="item cart-item" data-autoid="@(detail.AutoID)" data-id="@(detail.ProductDetailID)" >
                    <td class="width80">
                        <a href="/Products/ChooseDetail?pid=@(detail.ProductID)&did=@(detail.ProductDetailID)" target="_blank">
                          <img onerror="$(this).attr('src','/modules/images/img-noimg.png')" src="@(string.IsNullOrEmpty(detail.ImgS) ? detail.ProductImage : detail.ImgS)" />
                        </a>
                    </td>
                    <td><a href="/Products/ChooseDetail?pid=@(detail.ProductID)&did=@(detail.ProductDetailID)" target="_blank">@(detail.ProductName)</a></td>
                    <td>@(string.IsNullOrEmpty(detail.DetailsCode) ? detail.ProductCode : detail.DetailsCode)</td>
                    <td>@(detail.Remark)</td>
                    <td class="center">@(detail.UnitName)</td>
                    <td class="tr-price"><label class="price">@(detail.Price.ToString("f2"))</label></td>
                    <td class="center tr-quantity"><label class="quantity">@((detail.Quantity * model.PlanQuantity).ToString("f3"))</label></td>
                    <td class="center tr-loss"><label class="loss">@((detail.Loss * model.PlanQuantity).ToString("f3"))</label></td>
                    <td class="center">@(detail.LossRate.ToString("f3"))</td>
                    <td class="center">@(((detail.Quantity * model.PlanQuantity) + (detail.Loss * model.PlanQuantity)).ToString("f3"))</td>
                    <td class="tRight moneytotal">@((detail.TotalMoney * model.PlanQuantity).ToString("f3"))</td>
                </tr>
                }
            <tr class="total-item bold">
                <td colspan="9"></td>
                <td class="tRight">成本合计：</td>
                <td class="tRight" data-class="moneytotal"></td>
            </tr>
            }
            else
            {
                <tr><td colspan="9"><div class="nodata-txt">暂无数据!</div></td></tr>
            }
            
        </table>
    </div>

    <table id="navPays" class="nav-partdiv table-list mTop20 hide">
        <tr class="tr-header">
            <td class="width150 tLeft">收款日期</td>
            <td class="">类型</td>
            <td class="">收款金额</td>
            <td class="width100">支付方式</td>
            <td class="tLeft">备注</td>
            <td class="width150">登记人</td>
            <td class="width200 tRight">登记时间</td>
        </tr>
    </table>

    <div class="nav-partdiv mTop10" id="navEngraving">
        <div id="navEngravingInfo"></div>
       <div class="mTop20" style="font-size:14px; color:#666; margin-left:5px;">工艺</div>
        <table class="table-list mTop10 tb-plates">
            <tr class="tr-header">
                <td class="width50 tLeft">图标</td>
                <td class="width200">名称</td>
                <td class="">描述</td>
                <td class="width200">创建时间</td>
            </tr>
        </table>
    </div>

    <table id="navSendDoc" class="nav-partdiv table-list mTop20 hide">
        <tr class="tr-header">
            <td class="tLeft">单号</td>
            <td class="width200">数量</td>
            <td class="width200">快递单号</td>
            <td class="width200">快递公司</td>
            <td class="width200">发货人</td>
            <td class="width200">发货时间</td>
            <td class="width50"></td>
        </tr>
    </table>

    <table id="navCutoutDoc" class="nav-partdiv table-list mTop20 hide">
        <tr class="tr-header">
            <td class="tLeft">单号</td>
            <td class="width200">数量</td>
            <td class="width200">登记人</td>
            <td class="width200">登记时间</td>
            <td class="width50"></td>
        </tr>
    </table>

    <table id="navSewnDoc" class="nav-partdiv table-list mTop20 hide">
        <tr class="tr-header">
            <td class="tLeft">单号</td>
            <td class="width200">数量</td>
            <td class="width200">登记人</td>
            <td class="width200">登记时间</td>
            <td class="width50"></td>
        </tr>
    </table>

    @*日志*@
    <div class="nav-partdiv hide" id="navLog">
        <div class="log-body" id="orderLog">

        </div>
        <div id="pagerLogs" class="mTop10">

        </div>
    </div>
</div>

@*图片放大*@
<div class="enlarge-image-bgbox hide">
    <div class="close-enlarge-image iconfont">&#xe606;</div> 
    <span id="zoomInButton" class="zoom-botton iconfont mRight50">&#xe642;</span>
    <span id="zoomOutButton" class="zoom-botton iconfont">&#xe641;</span>
</div>
<div id="pageContent" class="enlarge-image-box hide">
    <div class="left-enlarge-image"></div>
    <div class="right-enlarge-image"></div>
    <div class="enlarge-image-item">
         
    </div>
</div>