@{
    var list=(List<IntFactoryEntity.LableColorEntity>)ViewBag.list;
}
@section css{
    <link href="/modules/css/orders.css" rel="stylesheet" />
    <link href="/modules/css/common/order-task-list.css" rel="stylesheet" />
    <link href="/modules/plug/daterangepicker/daterangepicker.css" rel="stylesheet" />
    <script src="/modules/plug/laydate/laydate.js"></script>
}
@section scripts{
    <script type="text/javascript">
        seajs.use(["scripts/orders/orders"], function (ObjectJS) {
            ObjectJS.init('@ViewBag.SearchType', '@ViewBag.Type', '@Html.ToJSONString(list)');
        });
    </script>
}
<div class="header-box">
    <span class="header-title left">@ViewBag.Title</span>
    <a href="/Orders/Create" target="_blank" id="createOrder" class="btn-add right">新建打样单</a>
    <div class="btn right mRight10 nolimits" id="downAliOrders">同步阿里订单</div>
</div>
<div class="search-header">
    
    @if (ViewBag.SearchType > 0)
    {
        <ul class="search-tab search-orderstatus">
            <li data-id="1" data-archiving="-1" class="hover">进行中( @(ViewBag.Normal) )</li>
            <li data-id="2" data-archiving="-1" class="">已完成( @(ViewBag.Complete) )</li>
            <li data-id="-1" data-archiving="-1" >全部订单( @(ViewBag.Normal+ViewBag.Complete) )</li>
            <li data-id="8" data-archiving="-1" class="">已终止( @(ViewBag.Over) )</li>
            <li data-id="-1" data-archiving="9" >已归档( @(ViewBag.Archiving) )</li>
        </ul>
        <ul class="search-tab-status search-warning">
            <li data-id="-1" class="item hover">全部</li>
            <li data-id="1" class="item">快到期</li>
            <li data-id="2" class="item">已超期</li>
        </ul>
    }
    else
    {
        <ul class="search-tab search-ordertype">
            <li data-id="" class="item hover">全部( @(ViewBag.DY+ViewBag.DH) )</li>
            <li data-id="1" data-hide="2" class="item">打样( @(ViewBag.DY) )</li>
            <li data-id="2" data-hide="1" class="item">大货( @(ViewBag.DH) )</li>
        </ul>
    }
</div>
<div class="content-body pBottom50">
    <div class="search-body left">
        <ul class="search-item search-entrustclientid">
            <li class="column-name">类型：</li>
            <li class="item hover" data-id="">全部</li>
            <li class="item" data-id="1">本厂</li>
            <li class="item" data-id="2">协助</li>
            <li class="item" data-id="3">委托</li>
        </ul>
        @if (ViewBag.SearchType == 1)
        {
            <ul class="search-item search-status">
                <li class="column-name">状态：</li>
                <li data-id="-1" class="item hover">全部</li>
                <li data-id="1" data-hide="1" class="item" data-type="1">打样中</li>
                <li data-id="2" data-hide="1" class="item" data-type="1">核价中</li>
                <li data-id="3" data-hide="1" class="item hide" data-type="2">封样封价</li>
            </ul>
            <ul class="search-item public-status">
                <li class="column-name">发布状态：</li>
                <li data-id="-1" class="item hover">全部</li>
                <li data-id="0" data-hide="1" class="item" data-type="1">未发布</li>
                <li data-id="2" data-hide="1" class="item" data-type="1">已发布</li>
            </ul>
        }
        else if (ViewBag.SearchType == 2)
        {
             <ul class="search-item search-status">
                <li class="column-name">状态：</li>
                <li data-id="-1" class="item hover">全部</li>
                <li data-id="5" data-hide="2" class="item" data-type="1">生产中</li>
                <li data-id="6" data-hide="2" class="item" data-type="1">生产完成</li>
                <li data-id="7" data-hide="2" class="item hide" data-type="2">交易结束</li>
            </ul>
        }
        <ul class="search-item search-source">
            <li class="column-name">来源：</li>
            <li data-id="-1" class="item hover">全部</li>
            <li data-id="1" class="item">工厂</li>
            <li data-id="2" class="item">客户自助</li>
            <li data-id="3" class="item">淘工厂</li>
            <li data-id="5" class="item">客户端</li>
        </ul> 
    </div>
    <div class="clear"></div>
    <div class="search-items">
        <div class="left mRight20" id="chooseBranch"></div>
        <div class="left">
            <input type="text" id="iptCreateTime" placeholder="交货日期"  class="ipt-date"  />
        </div>
        <div class="right searth-module" data-text="输入订单编码/联系人/手机号/款式编码/款式名称..." data-width="280"> </div>
    </div>

    <div class="search-sort">
        <ul >
            <li>
                <span id="filterMark" class=""></span>
            </li>
            <li class="sort-item hover" data-column="CreateTime">
                下单日期
                <span class="asc"></span>
                <span class="desc hover"></span>
            </li>
            <li class="sort-item" data-column="Mark">
                标签
                <span class="asc"></span>
                <span class="desc"></span>
            </li>
            <li class="sort-item" data-column="PlanTime">
                交货日期
                <span class="asc"></span>
                <span class="desc"></span>
            </li>
        </ul>
    </div>
     <table class="table-items-detail mTop20">
        <tr class="hide table-header">
            <td class="tLeft bLeft">款式</td>
            <td>成本</td>
            <td>客户</td>
            <td class="bRight">到期日期</td>
        </tr>
    </table>
    <ul class="batch-operate mTop10 mBottom20 left">
        <li class="width100">
            <span class="ico-check pLeft5 mTop5" id="checkAll">批量操作</span>
        </li>
        <li>
            <a href="javascript:void(0);" class="btn @(ExpandClass.IsLimits(HttpContext.Current,"102019004"))" id="batchChangeOwner">更换负责人</a>
        </li>
    </ul>
    <div id="pager" class="mTop10"></div>
    <div class="clear"></div>
</div>
<div class="order-layer">
    <div class="layer-header">
        订单详情概览 <span id="closeLayer" class="iconfont right mRight10">&#xe606;</span>
    </div>
</div>

