@{
    var order = (IntFactoryEntity.OrderEntity)ViewBag.Model;
    var goods = (List<IntFactoryEntity.GoodsDoc>)ViewBag.List;   
    ViewBag.title = "制版工艺单";
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="content-language" content="zh-CN" />
	<meta name="author" content="zuroke" />
    <title>@ViewBag.title</title>
    <link href="/modules/css/default/layout.css" rel="stylesheet" />
    <link href="/modules/css/base.css" rel="stylesheet" />
    <link href="/modules/css/order/platemakingprocess.css" rel="stylesheet" />
    <link href="/modules/css/iconfont/iconfont.css" rel="stylesheet" />

    <script src="/modules/plug/doT.js"></script>
    <script src="/Scripts/jquery-1.11.1.js"></script>    
    <script src="/Scripts/sea.js"></script>
    <script src="/Scripts/sea-config.js"></script>
    
    <script type="text/javascript">
        seajs.use(["scripts/orders/platemakingprocess"], function (obj) {
            obj.init('@(order.Platemaking)', '@(order.OrderImage)', "@(order.OrderID)", "@(order.OriginalID)", "@(order.OrderType)");
        })
    </script>
</head>
<body>
    <div class="report">
        <div class="preview">工艺单预览:</div>    
        
        <div class="process left">
            <table style="width:955px;">
                <tr class="head" style="height:50px">
                   
                    <td class="no-border-left" colspan="6">
                        <div class="titlename">
                            制版工艺单                            
                        </div>
                    </td>                
                </tr>
                <tr>
                    <td>跨界款号：</td>
                    <td>@(order.IntGoodsCode==""?order.OrderCode:order.IntGoodsCode)</td>
                    <td>采购负责人：</td>
                    <td>卢云</td>
                    <td>下单日期：</td>
                    <td>@(order.OrderTime.ToString("yyyy-MM-dd"))</td>
                </tr>
                <tr>
                    <td>销售负责人：</td>
                    <td>清扬</td>
                    <td>纸样师负责人：</td>
                    <td>萧秋水</td>
                    <td>合同货期：</td>
                    <td>@(order.PlanTime.ToString("yyyy-MM-dd") == "0001-01-01" ? "未设置" : order.PlanTime.ToString("yyyy-MM-dd"))</td>
                </tr>
                <tr>
                    <td>理单负责人：</td>
                    <td>卫青</td>
                    <td>QC负责人：</td>
                    <td>李世明</td>
                    <td class="no-border-right">准确资料签章：</td>       
                    <td class="no-border-left"></td>         
                </tr>
            </table>   

            <table class="navgoods no-border left">
                <tr>
                    <td colspan="7" class="no-border-top">
                        <table class="no-border goosddoc" style="width:635px;height:100%;">
                            <tr>
                                <td colspan="7" class="font18 no-border-top head no-border-top no-border-left no-border-right" style="height:51px;"><i class="iconfont icon-delete goods">&#xe613;</i>下单明细</td>
                            </tr>
                            <tr>
                                <td class="head  no-border-left">规格</td>
                                <td class="head ">下单数量</td>                                
                                <td class="head ">剩余未发</td>                
                                <td class="head  no-border-right">小计</td>

                            </tr>
                            @if (order.OrderGoods.Count > 0)
                            {
                                foreach (var detail in order.OrderGoods)
                                { 
                                <tr class="item cart-item" >
                                    <td class="no-border-left">@(detail.Remark)</td>
                                    <td class="center good1">@(detail.Quantity)</td>
                                    <td class="center good5">@(detail.Complete - detail.SendQuantity)</td>                    
                                    <td class=" good6 no-border-right no-border-top no-border-left" title="@((detail.TotalMoney).ToString("f2"))" style="line-height:30px;">@((detail.TotalMoney).ToString("f2"))</td>
                                </tr>                
                                }
                                <tr class="total-items bold" >
                                    <td class="no-border-left no-border-bottom" >合计：</td>
                                    
                                    <td class="center no-border-bottom" data-class="good5"></td>                    
                                    <td class=" no-border-right no-border-left no-border-bottom tRight" style="height:100%;line-height:30px;" data-class="good6"></td>
                                </tr>
                            }
                            else
                            {
                                <tr><td class="no-border-bottom no-border-left" colspan="7"><div class="nodata-txt">暂无明细</div></td></tr>
                            }   
                   
                        </table>
                    </td>  
                </tr>
 
                <tr>
                    <td colspan="7" class="no-border-top">
                        <table class="no-border navsenddoc" style="width:635px;height:100%;">
                            <tr>
                                <td colspan="4" class="font18 head  no-border" style="height:50px;"><i class="iconfont icon-delete senddoc">&#xe613;</i>裁片/织片</td>
                            </tr>
                            <tr class="head ">
                                <td class="no-border-left no-border-fight">单号</td>
                                <td>数量</td>
                                <td>登记人</td>
                                <td class="width no-border-right">登记时间</td>               
                            </tr>
                            @if (goods.Count>0)
	                        {
		                        foreach (var item in goods)
	                            {
		                            <tr>
                                        <td class="no-border-left no-border-fight">@(item.DocCode)</td>
                                        <td class="cut1">@(item.Quantity)</td>
                                        <td>@(item.CreateUser.Name==""?"--": item.CreateUser.Name)</td>
                                        <td class="no-border-right">@(item.CreateTime.ToString("yyyy-MM-dd hh:mm:ss"))</td> 
                                    </tr>
	                            }
                                <tr class="total-items bold">
                                    <td class="no-border-left no-border-fight no-border-bottom">合计：</td>
                                    <td class="center no-border-bottom" data-class="cut1"></td>
                                    <td class='center no-border-bottom no-border-right'></td>
                                    <td class='center no-border-bottom no-border-right no-border-left'></td>                                
                                </tr>
                            }
                            else
                            {
                                <tr><td colspan="7" class="no-border-left no-border-bottom no-border-right"><div class="nodata-txt">暂无数据</div></td></tr>
	                        }
                        </table>
                    </td>                    
                </tr>                 

            </table>

            <table class="no-border img-order">
                <tr>
                    <td class="no-border-top no-border-left">前片图片</td>
                    <td class="no-border-top">后片图片</td>
                </tr>
                <tr>
                    <td class="no-border-left"><img src="@(order.OrderImage==""?"/modules/images/none-img.png":order.OrderImage)" /></td>
                    <td><img src="@(order.OrderImage==""?"/modules/images/none-img.png":order.OrderImage)" /></td>
                </tr>
            </table>

            <div class="clear"></div>

            <table class="navproducts no-border">
                <tr>
                    <td colspan="11" class="font18  no-border-top tLeft head hight40 pLeft10"><i class="iconfont icon-delete products">&#xe613;</i>材料成本</td>
                </tr>
                <tr class="head " style="height:30px;">
                    <td class="width100">样图</td>
                    <td class="width80">材料名称</td>
                    <td class="width80">编码</td>
                    <td class="width70">规格</td>
                    <td class="width70">单位</td>
                    <td class="width80">单价</td>
                    <td class="width80">消耗量</td>
                    <td class="width80">损耗量</td>
                    <td class="width100">损耗率</td>
                    <td class="width100">采购量</td>
                    <td class="width100">小计</td>
                </tr>
                @if (order.Details.Count>0)
                {
                    foreach (var detail in order.Details)
                    {
                        <tr class="products">
                            <td class="width100">
                                <img onerror="$(this).attr('src','/modules/images/img-noimg.png')" src="@(string.IsNullOrEmpty(detail.ImgS) ? detail.ProductImage : detail.ImgS)" />
                            </td>
                            <td class="width80">@(detail.ProductName)</td>
                            <td class="width80">@(string.IsNullOrEmpty(detail.DetailsCode) ? detail.ProductCode : detail.DetailsCode)</td>
                            <td class="width70">@(detail.Remark==""?"--":detail.Remark)</td>
                            <td class="width70">@(detail.UnitName)</td>
                            <td class="width80">@(detail.Price.ToString("f2"))</td>
                            <td class="width80">@((detail.Quantity * order.PlanQuantity).ToString("f3"))</td>
                            <td class="width80">@((detail.Loss * order.PlanQuantity).ToString("f3"))</td>
                            <td class="width100">@(detail.LossRate.ToString("f3"))</td>
                            <td class="width100">@(((detail.Quantity * order.PlanQuantity)+(detail.Loss * order.PlanQuantity)).ToString("f3"))</td>
                            <td class="width100 moneytotal">@((detail.TotalMoney * order.PlanQuantity).ToString("f3"))</td>
                        </tr>
                    }
                    <tr style="height:40px;" class="total-items bold">
                        <td colspan="9"></td>
                        <td class="">成本合计：</td>
                        <td class="" data-class="moneytotal"></td>
                    </tr>
                }
                else
                {
                    <tr><td colspan="11"><div class="nodata-txt">暂无材料</div></td></tr>
                }           
            </table>    
                              
            <table class="navengraving no-border" style="width:955px;">
                <tr>
                    <td colspan="10" class="font18  no-border-top tLeft head hight40 pLeft10"><i class="iconfont icon-delete raving ">&#xe613;</i>制版</td>
                </tr>
                <tr>
                    <td id="Platemak" colspan="10"></td>
                </tr>
            </table>  
           
            <table class="processplate no-border" style="width:955px">
                
             </table>    

            <div class="mBottom40">
                <span class="btn mTop30">确定</span>
            </div>

        </div>

        <div class="operation hide mTop25">
            <span class="iconfont font24 mTop5 mLeft20 color666 left printico" style="cursor:pointer;">&#xe658;</span>
            <span class="iconfont font18 mTop5 mLeft20 color666 get-back" style="cursor:pointer;position:absolute"><i class="iconfont mRight5">&#xe62d;</i>返回</span>
        </div>
        

    </div>
</body>
</html>
