@{
    ViewBag.Title = "客户详情";
}
<link href="/modules/css/clients.css" rel="stylesheet" />

<script src="/modules/plug/laydate/laydate.js"></script>
@section scripts{
    <script type="text/javascript">
        seajs.use(["scripts/client/clientdetail"], function (client) {
            client.detailInit('@ViewBag.ID');
        });

        $(function () {
            var begin = {
                elem: '#orderBeginTime',
                format: 'YYYY-MM-DD',
                max: '2099-06-16',
                istime: false,
                istoday: false,
                choose: function (datas) {
                    end.min = datas; //开始日选好后，重置结束日的最小日期
                    end.start = datas //将结束日的初始值设定为开始日
                }
            };

            var end = {
                elem: '#orderEndTime',
                format: 'YYYY-MM-DD',
                max: '2099-06-16',
                istime: false,
                istoday: false,
                choose: function (datas) {
                    begin.max = datas; //结束日选好后，重置开始日的最大日期
                }
            };
            var actionBegin = {
                elem: '#actionBeginTime',
                format: 'YYYY-MM-DD',
                max: '2099-06-16',
                istime: false,
                istoday: false,
                choose: function (datas) {
                    actionEnd.min = datas; //开始日选好后，重置结束日的最小日期
                    actionEnd.start = datas //将结束日的初始值设定为开始日
                }
            };
            var actionEnd = {
                elem: '#actionEndTime',
                format: 'YYYY-MM-DD',
                max: '2099-06-16',
                istime: false,
                istoday: false,
                choose: function (datas) {
                    actionBegin.max = datas; //结束日选好后，重置开始日的最大日期
                }
            };
            laydate(begin);
            laydate(end);
            laydate(actionBegin);
            laydate(actionEnd);
        });
    </script>
}
<div class="header-box">
    <span class="header-title left">客户详情页</span>
     <a class="back right color333" href="javascript:if(history.length>1){ history.go(-1);} else{}">
        <i class="iconfont">&#xe62d;</i> 返回
    </a> 
</div>


<div class="content-body mTop20">
    <div class="content-title">
        <div id="customerName" class="left titlename bolder"></div>
        <div id="updateClient" class="left ico-edit iconfont mLeft20  @(ExpandClass.IsLimits(HttpContext.Current,"201010101"))">&#xe607;</div>
        <div id="delClient" class="btn delClient right  @(ExpandClass.IsLimits(HttpContext.Current,"201010102"))">删除</div>
         <div class="clear"></div>
    </div>
     <ul class="content-info">
        <li><span class="column-title">公司名称：</span><label id="lblName"></label></li>
        <li><span class="column-title">联系人：</span><label id="lblContact"></label></li>
        <li><span class="column-title">联系电话：</span><label id="lblMobile"></label> </li>
        <li><span class="column-title">办公电话：</span><label id="lblOfficePhone"></label> </li>
        <li><span class="column-title">授权人数：</span><label id="lblUserQuantity"></label> </li>
        <li><span class="column-title">到期时间：</span><label id="lblEndTime"></label> </li>
        <li><span class="column-title">行业：</span><label id="lblindustryName"></label></li>
        <li><span class="column-title">地址：</span><label id="lblCity"></label></li>
        <li><span class="column-title">详细地址：</span><label id="lblAddress"></label></li>
        <li style="width:100%;"><span class="column-title">备注：</span> <label id="lblDescription"></label></li>
        <li class="hide"> <select id="industrytemp">
            @foreach (IntFactoryEntity.Industry model in (List<IntFactoryEntity.Industry>)ViewBag.Industry)
            {
                <option value="@(model.IndustryID)" data-name="@(model.Name)">@(model.Name)</option>
            }
            <option value="">其他行业</option>
        </select>
        </li>
    </ul>   
   
</div>
<div class="search-header mTop20">
    <ul class="search-tab search-status">
        <li class="hover"  data-index="0">订单</li>
        <li data-index="1">授权记录</li>            
        <li  data-index="2">统计</li>
    </ul>  
     <div class="tRight @(ExpandClass.IsLimits(HttpContext.Current,"201010301"))">
        <input type="button" id="addNewOrder" class="btn " value="新建订单" />
        <input type="button" id="addAuthorize" class="btn" style="display:none;" value="赠送授权" />
    </div>
    <div class="clear"></div>
</div>
<div class="content-body pBottom50">
       <div name="navContent">
        <div id="OrderTypes" class="left"></div>
        <div id="OrderStatus" class="left mLeft20"></div>

        <div class="left mLeft20">
            <span class="width80">订单时间：</span><input type="text" id="orderBeginTime"  class="input"  />
            <span style="padding:0px 5px 0px 3px;">至</span><input type="text" id="orderEndTime"  class="input"  />
            <span class="btn mLeft10" id="SearchClientOrders">搜索</span>

        </div>
        <div class="clear"></div>

        <table class="table-list mTop10" id="tb-clientOrders">
            <tr class="tr-header" id="clientOrders">
                <td class="tLeft minwidth70">订单时间</td>
                <td class="width200">购买人数</td>
                <td class="width150">购买年数</td>
                <td class="width150">金额</td>
                <td class="width200">订单类型</td>     
                <td class="width200">订单状态</td>     
                <td class="width200">支付状态</td>     
                <td class="width150">创建人</td>
                <td class="width200">审核人</td>     
                <td class="width200">审核时间</td>     
                <td class="width150">操作</td>
            </tr>
        </table>

        <div id="pager2" class="mTop20"></div>
    </div>
    <div class="contentnew hide" name="navContent" style="border-bottom:none;">
        
        <table class="table-list" id="tb-clientLog">
            <tr class="tr-header" id="client-header">
                <td class="">授权类型</td>
                <td class="">授权方式</td>
                <td class="">授权人数</td>
                <td class="">开始时间</td>
                <td class="">结束时间</td>
                <td class="">创建时间</td>
            </tr>
        </table>
        <div id="pager" class="mTop20"></div>
    </div>
    <div name="navContent" class="hide">

        <div class="left mLeft5">
            <span class="width80">订单时间：</span><input type="text" id="actionBeginTime"  class="input"  />
            <span style="padding:0px 5px 0px 3px;">至</span><input type="text" id="actionEndTime"  class="input"  />
            <span class="btn mLeft10" id="SearchList">搜索</span>
        </div>
        <div class="clear"></div>

      <table class="table-list mTop20">
        <tr class="tr-header">
            <td class="tLeft">工厂名称</td>
            <td>客户数</td>
            <td>订单数</td>
@*            <td>活动数</td>*@
            <td>材料数</td>
            <td>员工数</td>
           @* <td>代理商数</td>
            <td>机会数</td>*@
            <td>采购数</td>
            @*<td>出库数</td>*@
        </tr>
    </table>
    </div>
     
</div>
