@{
    ViewBag.Title = "新建报溢单";
    var ware = (List<IntFactoryEntity.WareHouse>)ViewBag.Ware;
    var product= (List<IntFactoryEntity.ProductDetail>)ViewBag.Items;
}

@section scripts{
    <script type="text/javascript">
        seajs.use(["scripts/stock/createoverflow"], function (obj) {
            obj.init('@(ViewBag.guid)', '@(Html.ToJSONString(ware))');
        });
    </script>
}
<div class="header-box">
    <span class="header-title left">新建报溢单</span>
    <a class="btn-add right mLeft20" href="/Stock/ChooseBYProducts" id="addChooseProduct">选择报溢材料</a>
    <div class="btnccc right" id="btnChooseProduct">快捷选择材料</div>
    <div class="clear"></div>
</div>
<div class="content-body mTop20" style="padding:20px;">
    <table class="table-items-detail">
        <tr class="table-header tr-header">
            <td class="tLeft">材料名称</td>
            <td class="">材料编码</td>
            <td class="">规格</td>
            <td class="">数量</td>
            <td class=" width80">删除</td>
        </tr>
        @if (product.Count > 0)
        {
            foreach (var model in product)
            { 
            <tr class="item cart-item" data-autoid="@(model.AutoID)" data-id="@(model.ProductDetailID)" >
                <td class="tLeft bBottom bLeft"><a href="/Products/ChooseDetail?pid=@(model.ProductID)&did=@(model.ProductDetailID)" target="_blank">@(model.ProductName)</a></td>
                <td class="bBottom"><a href="/Products/ChooseDetail?pid=@(model.ProductID)&did=@(model.ProductDetailID)" target="_blank">@(model.ProductCode)</a></td>
                <td class="bBottom">@(model.Description)</td>
                <td class="tr-quantity bBottom"><input  type="text" data-id="@(model.AutoID)" data-value="@(model.Quantity)" class="quantity width50" value="@(model.Quantity)" /></td>
                <td class="bRight bBottom">
                    <a class="ico-del iconfont font20" href="javascript:void(0)" title="删除" data-id="@(model.AutoID)"></a>
                </td>
            </tr>
            }
        }
        else
        {
            <tr><td colspan="5"><div class="nodata-txt">暂无材料</div></td></tr>            
        }
    </table>
    <div class="mTop20">
        <div class="right" id="chooseWare"></div>
        <div class="clear"></div>
        <input type="text" placeholder="备注" id="remark" class="width500 mTop10 right">
        <div class="clear"></div>
        <div class="mTop20">
            <div class="btn right" id="btnconfirm">提交报溢单
        </div>
    </div>
    </div>
</div>
