@{
    ViewBag.Title = "新建报溢单";
    var ware = (List<IntFactoryEntity.WareHouse>)ViewBag.Ware;
}

@section scripts{
    <script type="text/javascript">
        seajs.use(["scripts/stock/createoverflow"], function (obj) {
            obj.init('@(ViewBag.guid)', '@(Html.ToJSONString(ware))');
        });
    </script>
}
<div class="header-box">
    <span class="header-title left">新建报溢单</span>
</div>
<div class="content-body mTop20">
     <ul class="table-add">
        <li>
            <span class="column-title">备注：</span> 
            <span">
                 <textarea id="remark" class="width310"></textarea>
            </span>
           
        </li>
    </ul>
    <div class="tab-nav mTop30">
        <ul class="tab-nav-ul left">
            <li class="hover" data-id="navRemark">材料明细</li>
        </ul>
        <div class="right mLeft20" id="chooseWare"></div>
        <div class="btn right mLeft20" id="addChooseProduct">添加报溢材料</div>
        <div class="btnccc right" id="btnChooseProduct">快捷添加材料</div>
    </div>
    <table class="table-list">
        <tr class="tr-header">
            <td class="tLeft">材料名称</td>
            <td class="tLeft">材料编码</td>
            <td class="tLeft">规格</td>
            <td class="center">数量</td>
            <td class="center width80">删除</td>
        </tr>
        @foreach (var model in (List<IntFactoryEntity.ProductDetail>)ViewBag.Items)
        { 
            <tr class="item cart-item" data-autoid="@(model.AutoID)" data-id="@(model.ProductDetailID)" >
                <td><a href="/Products/ChooseDetail?pid=@(model.ProductID)&did=@(model.ProductDetailID)" target="_blank">@(model.ProductName)</a></td>
                <td><a href="/Products/ChooseDetail?pid=@(model.ProductID)&did=@(model.ProductDetailID)" target="_blank">@(model.ProductCode)</a></td>
                <td>@(model.Description)</td>
                <td class="center tr-quantity"><input  type="text" data-id="@(model.AutoID)" data-value="@(model.Quantity)" class="quantity width50" value="@(model.Quantity)" /></td>
                <td class="center">
                    <a class="ico-del" href="javascript:void(0)" title="删除" data-id="@(model.AutoID)"></a>
                </td>
            </tr>
        }
    </table>
    <div class="mTop20">
        <div class="btn right" id="btnconfirm">提交报溢单</div>
    </div>
</div>
