@{
    ViewBag.Title = "新建用料登记单";
    var ware = (List<IntFactoryEntity.WareHouse>)ViewBag.Ware;
    var product=(List<IntFactoryEntity.ProductDetail>)ViewBag.Items;
}

@section scripts{
    <script type="text/javascript">
        seajs.use(["scripts/stock/createdamaged"], function (obj) {
            obj.init('@(ViewBag.guid)', '@(Html.ToJSONString(ware))');
        });
    </script>
}
<div class="header-box">
    <span class="header-title left">用料登记</span>
    <div class="btn-add right mLeft20" id="btnChooseProduct">快捷选择材料</div>
    <a href="/Stock/ChooseBSProducts" class="right font14 mTop4 btn-link" id="addChooseProduct">材料用料</a>
    <div class="clear"></div>
</div>
<div class="content-body mTop20">
    <table class="table-items-detail">
        <tr class="table-header tr-header">
            <td class="tLeft">材料名称</td>
            <td class="tLeft">材料编码</td>
            <td class="tLeft">规格</td>
            <td class="center width80">货位</td>
            <td class="center">数量</td>
            <td class="center width80">删除</td>
        </tr>
        @if (product.Count > 0)
        {
            foreach (var model in product)
            { 
                <tr class="item cart-item" data-autoid="@(model.AutoID)" data-id="@(model.ProductDetailID)" >
                    <td class="tLeft bBottom"><a href="/Products/ChooseDetail?pid=@(model.ProductID)&did=@(model.ProductDetailID)" target="_blank">@(model.ProductName)</a></td>
                    <td class="bBottom tLeft"><a href="/Products/ChooseDetail?pid=@(model.ProductID)&did=@(model.ProductDetailID)" target="_blank">@(model.ProductCode)</a></td>
                    <td class="bBottom tLeft">@(model.Description)</td>
                    <td class="center bBottom">@(model.DepotCode)</td>
                    <td class="center bBottom tr-quantity"><input  type="text" data-id="@(model.AutoID)" data-value="@(model.Quantity)" class="quantity width50" value="@(model.Quantity.ToString("f3"))" /></td>
                    <td class="center bBottom">
                        <a class="ico-del iconfont font20" href="javascript:void(0)" title="删除" data-id="@(model.AutoID)"></a>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr><td colspan="6"><div class="nodata-txt">暂无材料</div></td></tr>
        }
    </table>
    <div class="mTop20" style="padding:20px;">
        <div class="right" id="chooseWare"></div>
        <div class="clear"></div>
        <input type="text" placeholder="备注" id="remark" class="width500 mTop10 right">
        <div class="clear"></div>
        <div class="mTop20">
            <div class="btn right" id="btnconfirm">提交用料申请</div>
        </div>
    </div>
</div>
