@{
    var taskModel = (YXERP.Models.TaskModel)Model;
    var task = taskModel.Task;
    var order = taskModel.Order;
    var isRoot = taskModel.IsRoot;
 }
<div id="navProducts" class="nav-partdiv hide">
    <table class="table-list mTop20">
        <tr class="tr-header">
            <td class="tLeft">材料名称</td>
            <td class="tLeft">编码</td>
            <td class="width80">单位</td>
            <td>已采购</td>
            <td>已入库</td>
            <td>消耗量</td>
            <td>单价</td>
            <td class="">采购量</td>
@*            <td>损耗率</td>
            <td>采购量</td>*@
            <td class="tRight">小计</td>
            <td class="tRight">操作</td>            
        </tr>

        @{
            foreach (var detail in order.Details)
            { 
                <tr class="item cart-item" data-autoid="@(detail.AutoID)" data-id="@(detail.ProductDetailID)" >
                    <td>
                        <a href="/Products/ChooseDetail?pid=@(detail.ProductID)&did=@(detail.ProductDetailID)" target="_blank" class="hRed">
                            @(detail.ProductName)
                            <span class="color999">@(detail.Remark)</span>
                        </a>
                    </td>
                        <td>@(detail.ProductCode)</td>
                    <td class="center">@(detail.UnitName)</td>
                    <td class="center"><label class="purchase-count">@(detail.PurchaseQuantity.ToString("f3"))</label></td>
                    <td class="center"><label class="inquantity">@(detail.InQuantity.ToString("f3"))</label></td>
                    <td class="center"><label class="usequantity">@(detail.UseQuantity.ToString("f3"))</label></td> 
             @{                  
                if (isRoot)
                {
                    <td class="center tr-price"><input  type="text" data-id="@(detail.AutoID)" data-name="@(detail.ProductName)" data-value="@(detail.Price.ToString("f2"))" class="price width50" value="@(detail.Price.ToString("f2"))" /></td>              
                    <td class="center tr-quantity"><input  type="text" data-id="@(detail.AutoID)" data-name="@(detail.ProductName)" data-value="@(detail.Price.ToString("f2"))" class="quantity width50" value="@(detail.Quantity.ToString("f3"))" /></td>
                    @*<td class="center tr-loss"><input  type="text" data-id="@(detail.AutoID)" data-name="@(detail.ProductName)" data-value="@(detail.Loss.ToString("f3"))" class="loss width50" value="@((detail.Loss).ToString("f3"))" /></td>
                    <td class="center tr-lossrate">@((detail.Loss/detail.Quantity).ToString("f3"))</td>*@
                    <td class="tRight amount">@(((detail.Quantity)*detail.Price).ToString("f3"))</td>
                    <td class="tRight"><span data-id="@(detail.AutoID)" data-name="@(detail.ProductName)" class="ico-del hRed font20 iconfont"></span></td>
                }
                else
                {
                    <td class="tr-price center"><label class="price">@(detail.Price.ToString("f2"))</label></td>
                    <td class="center tr-quantity">@((detail.Quantity).ToString("f3"))</td>
                    <td class="tRight amount">@(((detail.Quantity)*detail.Price).ToString("f3"))</td>
                    @*<td class="center tr-loss">@(detail.Loss.ToString("f3"))</td>
                    <td class="center tr-lossrate">@((detail.Loss/detail.Quantity).ToString("f3"))</td>*@                   
                }   
                }
              </tr>
            }
        }

        <tr class="amount-item">
            <td colspan="7"></td>
            <td class="tRight">成本合计：</td>
            <td class="tRight"><label id="amount"></label></td>     
            <td></td>
        </tr>
    </table>

    @{
      if (isRoot)
        {
            <a href="javascript:void(0);"  id="btnEffectiveOrderProduct" class="btn right mTop10 mRight10">生成采购单</a>
            <div id="btnChooseProduct" class="btn-add right mTop10 mRight10">快捷选择材料</div> 
            <a href="/Orders/ChooseMaterial?id=@(order.OrderID)&tid=@(task.TaskID)" id="btn-addMaterial"  class="right font14 btn-link mRight10" style="margin-top:15px;">选择材料</a>                                                     
        }
    }
    <div class="clear"></div>
</div>

