
@{
    var taskModel = (YXERP.Models.TaskModel)ViewBag.TaskModel;
    var task = taskModel.Task;
    var order = taskModel.Order;
    var productAttr = taskModel.ProductAttr;
    var attrValues = productAttr.AttrValues == null ? "" : Html.ToJSONString(productAttr.AttrValues);

    ViewBag.Title = "任务详情" + "-" + task.Title;
}

@section css{
<link href="/modules/css/task/style.css" rel="stylesheet" />
}

@section scripts{
    <script src="/Scripts/jquery-1.11.1.js"></script>
    <script src="/modules/plug/laydate/laydate.js"></script>
    <script src="/modules/plug/e-smart-zoom-jquery.min.js"></script>
   @* <script src="/modules/plug/qiniustorage/plupload/plupload.full.min.js"></script>
    <script src="/modules/plug/qiniustorage/qiniu/qiniu.js"></script>
    <script src="/modules/plug/qiniustorage/qiniu/main.js"></script>*@
    <script type="text/javascript">
        $(function () {
            seajs.use(["scripts/task/detail"], function (obj) {
                obj.init('@attrValues', '@order.OrderImages', '@(taskModel.IsWarn?1:0)', '@Html.ToJSONString(task)', '@order.OriginalID', '@order.PlanTime.ToString("yyyy-MM-dd hh:mm:ss")');
            });
        });
    </script>
}
@{Html.RenderPartial("DetailBase", taskModel);}

<div class="taskContent" style="padding-bottom:60px;">
    <div id="navTask" class="talk-body nav-partdiv">
        @{Html.RenderPartial("TaskReply");}

        @{
            if (task.Mark == 11)
            {
                //打样材料
                Html.RenderPartial("MaterialDetail", taskModel);
            }
            else if (task.Mark == 21)
            {   
                //大货材料
                Html.RenderPartial("CargoMaterialDetail", taskModel);
            }
            else if (task.Mark == 12)
            {
                //打样制版
                Html.RenderPartial("PlateDetail", taskModel);
            }
            else if (task.Mark == 22)
            {   
                //大货制版
                Html.RenderPartial("PlateDetail", taskModel);
            }
            else if (task.Mark == 15)
            {
                //打样发货
                Html.RenderPartial("SendDYDoc");
            }
            else if (task.Mark == 25)
            {
                //大货发货
                Html.RenderPartial("SendDoc");
            }
            else if (task.Mark == 23)
            {
                //大货裁片
                Html.RenderPartial("CutoutDoc");
            }
            else if (task.Mark == 24)
            {
                //大货车缝
                Html.RenderPartial("SewnDoc");
            }
            //加工成本
            if(task.Mark==16)
            {
                Html.RenderPartial("ProcessCostDoc");
            }
        }
        
        <div id="orderTaskLogs" class="mTop15 hide">
            <div class="log-body" id="taskLogList"></div>
            <div id="pagerLogs" class="mTop10"></div>
        </div>

    </div>
</div>

<ul class="dropdown-ul hide" id="setPlateInfo"  style="width:90px;">
    <li id="btn-addColumn">添加新列</li>
    <li id="btn-removeColumn">删除此列</li>
</ul>

<div class="enlarge-image-bgbox hide">
    <div class="close-enlarge-image iconfont">&#xe606;</div> 
    <span id="zoomInButton" class="zoom-botton iconfont mRight50">&#xe642;</span>
    <span id="zoomOutButton" class="zoom-botton iconfont">&#xe641;</span>
</div>

<div id="pageContent" class="enlarge-image-box hide">
    <div class="left-enlarge-image"></div>
    <div class="right-enlarge-image"></div>
    <div class="enlarge-image-item">
         
    </div>
</div>