
<div class="header-box">
    <div class="header-title">
        任务详情
        <a class="back right" href="javascript:if(history.length>1){ history.go(-1);} else{}">
           <i class="iconfont">&#xe62d;</i> 返回
        </a>
    </div>

    <div class="mTop10">
        <div class="left titlename">订单编号：<a href="/Orders/OrderDetail/@(Model.OrderID)" >@(Model.OrderCode)</a></div>
        
        <div class="right">
            @{
                if (ViewBag.IsTaskOwner){
                    if(Model.FinishStatus==0)
                    {
                        <input type="button" class="btn" id="AcceptTask" value="接受任务"/>
                    }
                    else if (Model.FinishStatus == 1)
                    {
                        <input type="button" class="btn" id="FinishTask" value="标记完成"/>
                    }
                    else if (Model.FinishStatus == 2)
                    {
                        <span class="taskFinishStatus">已完成</span>
                    }
                }
                else{
                    if(Model.FinishStatus==0)
                    {
                        <span class="taskFinishStatus">未接受</span>
                    }
                    else if (Model.FinishStatus == 1)
                    {
                        <span class="taskFinishStatus">进行中</span>
                    }
                    else if (Model.FinishStatus == 2)
                    {
                        <span class="taskFinishStatus">已完成</span>
                    }
                }
            
            }
        </div>
    </div>
</div>

<div class="content-title">
    <div class="left titlename">任务编码：@(Model.TaskCode)</div>
    <ul class="right">
        <li title="订单类型">
            <span class="left"> 订单类型：</span><label class="left" >@(Model.OrderType==1?"打样":"大货")</label>
        </li>
        <li>
            <span class="left"> 负责人：</span><label class="left">@(Model.Owner != null ? Model.Owner.Name : "--")</label>
        </li>
    </ul>
</div>

<div class="taskContent">
   <div class="taskDetail">
        <div class="order-imgs-div left">
            <div class="order-imgs">
                <img id="orderImage" src="@(Model.OrderImg)" />
            </div>
            <ul class="order-imgs-list mTop5"></ul>
            
        </div>

       <div class="mLeft20 left">
            <ul class=" taskBaseInfo ">
                 <li class="li-plustime"><span class="column-title" id="overplusTime">剩余时间</span>
                    <span class="task-time" id="time-d">0</span>
                    <span class="mRight10 color666">天</span>

                    <span class="task-time" id="time-h">0</span>
                    <span class="mRight10 color666">时</span>

                    <span class="task-time" id="time-m">0</span>
                     <span class="mRight10 color666">分</span>

                    <span class="task-time" id="time-s">0</span>
                     <span class="color666">秒</span>
                </li>
                <li>
                    <span class="column-title">任务标题</span>
                    <span>@(Model.Title)</span>
                </li>
                <li>
                    <span class="column-title">接受时间</span>
                    <span id="AcceptTime">@(Model.AcceptTime.ToString("yyyy-MM-dd") == "0001-01-01" ? "未接受" : Model.AcceptTime.ToString("yyyy-MM-dd HH:mm:ss"))</span>
                </li>
                <li>
                    <span class="column-title">到期时间</span>
                    <span>@(Model.EndTime.ToString("yyyy-MM-dd") == "0001-01-01" ? "未设置" : Model.EndTime.ToString("yyyy-MM-dd HH:mm:ss"))</span>
                </li>
                <li>
                    <span class="column-title">完成时间</span>
                    <span id="CompleteTime">@(Model.CompleteTime.ToString("yyyy-MM-dd") == "0001-01-01" ? "未完成" : Model.CompleteTime.ToString("yyyy-MM-dd HH:mm:ss"))</span>
                </li>
                 <li>
                    
                    @{
                        if (!ViewBag.IsTaskOwner)
                        {
                            <span class="column-title left">成员</span>                            
                            if (Model.TaskMembers.Count > 0)
                            {
                                foreach (var member in Model.TaskMembers)
                                {
                                <div class="task-member left">
                                    <div class="pRight5"><span>@member.Member.Name</span></div>
                                </div>
                                }
                            }
                            else
                            {
                                <div class="left">暂无成员</div>
                            }
                        }
                    }
                    <div class="clear"></div>
                 </li>
            </ul>
        </div>
       
               @{
                   if (ViewBag.IsTaskOwner)
                   {
                    <div class="right memberlist mTop5">
                    
                    @{
                        if(Model.FinishStatus>0){
                            <div class="member-title">
                                <span class="right btn-add" id="addTaskMembers">添加成员</span>
                            </div>
                        }
                    }
                    <div class="clear"></div>

                    <div class="member-boxs">
                     <table class="member-items">
                        @{
                            <thead>
                                <tr>
                                   <td class="tLeft pLeft10 task-members"><span class="iconfont">&#xe624;</span>成员列表</td>
                                   <td>查看权限</td>
                                   <td>编辑权限</td>
                                   <td width="60">操作</td>
                                </tr>
                            </thead>
                            <tbody>
                    @{
                       if (Model.TaskMembers.Count > 0)
                       {
                           foreach (var member in Model.TaskMembers)
                           {
                                <tr data-id="@member.Member.UserID">
                                    <td class="tLeft pLeft10">
                                        <i><img onerror="$(this).attr('src','/modules/images/defaultavatar.png');" src="@(string.IsNullOrEmpty(member.Member.Avatar) ? "/modules/images/defaultavatar.png" : member.Member.Avatar)" /></i>
                                        <i class="membername">@member.Member.Name</i>
                                    </td>
                                    <td>
                                        <i class="hand ico-radiobox check-lump @(member.PermissionType==1?"hover":"")" data-type="1" data-taskid="@member.TaskID" data-memberid="@member.MemberID">
                                               <span></span>
                                        </i>
                                    </td>
                                    <td>
                                        <i class="hand ico-radiobox check-lump @(member.PermissionType==2?"hover":"")" data-type="2" data-taskid="@member.TaskID" data-memberid="@member.MemberID">
                                            <span></span>
                                        </i>
                                    </td>
                                    <td class="hand removeTaskMember iconfont" data-id="@member.Member.UserID">&#xe651;</td>
                                </tr>
                           }
                       }
                       else
                       {
                           <tr class="member-nodata-txt"><td colspan="4" class="font14 color666">暂无成员</td></tr>
                       }
                       
                        }
                        </tbody>
                        }
                    </table>
                    </div>
                    </div>
                    }
               }
              
         
       <div class="clear"></div>
       <div class="order-remark">订单需求: </div>

    </div>

  </div>

<div class="module-header mTop20">
    <ul class="module-tab">
        <li  class="hover" data-id="taskReplys">讨论</li>
        @{
            if(Model.Mark==11)
            {
                <li  data-id="navProducts">材料</li>
            }
            else if(Model.Mark==21)
            {
                <li  data-id="navProducts">材料</li>
            }
            else if(Model.Mark==12)
            {
                <li  data-id="platemakingContent">制版</li>
            }
            else if(Model.Mark==22)
            {
                <li  data-id="platemakingContent">制版</li>
            }
            else if(Model.Mark==15)
            {
                <li  data-id="navSendDoc" data-btn="btnSendDYOrder">发货记录</li>
            }
            else if(Model.Mark==25)
            {
                <li data-btn="btnSendOrder" data-id="navSendDoc">发货记录</li>
            }
            else if(Model.Mark==23)
            {
                <li data-btn="btnCutoutOrder" data-id="navCutoutDoc">裁剪记录</li>
            }
            else if(Model.Mark==24)
            {
                <li data-btn="btnSewnOrder"  data-id="navSewnDoc">车缝记录</li>
            }
        }
        <li data-id="orderTaskLogs">日志</li>
    </ul>

     @{
           
         
         var isRoot = (ViewBag.Status != 8 && ViewBag.FinishStatus ==1) && (ViewBag.IsEditTask || ViewBag.IsTaskOwner);
          
         if(isRoot){
            if (Model.Mark == 23 && ViewBag.CutStatus!=2)
            {
                 <div class="btn part-btn right" id="btnCutoutOrder" style="display:none;">裁剪录入</div>                
            }
            else if (Model.Mark == 24)
            {
                <div class="btn part-btn right"  id="btnSewnOrder" style="display:none;">车缝录入</div>
            }
            else if (Model.Mark == 15)
            {
                <div class="btn part-btn right" id="btnSendDYOrder" style="display:none;">订单发货</div>
            }
            else if (Model.Mark == 25 &&ViewBag.SendStatus!=2)
            {
                <div class="btn part-btn right hide" id="btnSendOrder" style="display:none;">订单发货</div>
            }
        }
     }
    <div class="clear"></div>
</div>