@{
    ViewBag.Title = "Detail";
    var model = (IntFactoryEntity.Task.TaskEntity)ViewBag.Model;
    var order = (IntFactoryEntity.OrderEntity)ViewBag.Order;
}
<link href="/modules/css/task/style.css" rel="stylesheet" />
@section scripts{
    <script src="/Scripts/jquery-1.11.1.js"></script>
    <script src="/modules/plug/laydate/laydate.js"></script>
    <script type="text/javascript">
        $(function () {
            seajs.use(["scripts/task/detail"], function (obj) {
                obj.init('@(model.TaskID)', '@(model.StageID)', '@(model.OrderID)','@(model.Mark)','@(model.FinishStatus)');
            });
        });
    </script>
}
<div class="header-box">
    <span class="header-title left">任务详情</span>
</div>

<div class="taskContent mTop20" id="taskDetailContent" data-taskid="@(model.TaskID)">
    <div class="taskOperate">
        <div class="left">
            <div class="left"><img title="到期日期" style="width:30px;" src="/modules/images/ico-endtime.png" /></div>
            <div class="left mLeft10"><input type="text" style="width:80px;" id="@(model.FinishStatus == 2 ? "" : "UpdateTaskEndTime")" value="@(model.EndTime.ToString("yyyy-MM-dd") == "0001-01-01" ? "未指定日期" : model.EndTime.ToString("yyyy-MM-dd"))" placeholder="设置到期日期"/></div>
            <div class="clear"></div>
            
        </div>
        <div class="right mRight10">
            @{
                if (model.FinishStatus != 2)
                {
                    <input type="button" class="btn" id="FinishTask" value="标记完成"/>
                }
                else
                {
                    <span class="taskFinishStatus">已完成</span>
                }
             }
        </div>
        <div class="clear"></div>
    </div>
    
    <div class="taskDetail">
        
        <ul class="left">
            <li>
                <span class="column-title">任务内容:</span>
                <span>@(model.Title)</span>
            </li>
             <li>
                <span class="column-title">负责人:</span>
                <span>@(model.Owner.Name)</span>
            </li>
             <li>
                <span class="column-title">订单编号:</span>
                <a href="/Customer/OrderDetail/@(model.OrderID)" target="_blank">@(model.OrderCode)</a>
            </li>
            <li>
                <span class="column-title">订单类型:</span>
                <span>@(model.OrderType==1?"打样":"大货")</span>
            </li>
        </ul>
        <div class="right"> <img class="right width150" onerror="$(this).attr('src','/modules/images/img-noimg.png')" src="@( string.IsNullOrEmpty(model.OrderImg) ? "/modules/images/img-noimg.png" : model.OrderImg)"/></div>
        <div class="clear"></div>

        
    </div>

    <div id="navTask" class="talk-body nav-partdiv">
        <div class="tab-nav mTop30">
            <ul class="tab-nav-ul left">
                <li class="hover" data-id="navProducts">物料</li>
                <li data-id="platemakingContent">制版</li>
                <li data-id="orderTask">讨论</li>
                <li data-id="orderTaskLogs">日志</li>
            </ul>
        </div>

        <div id="navProducts" class="nav-partdiv">
                <table class="table-list mTop20">
                    <tr class="tr-header">
                        <td class="tLeft">材料名称</td>
                        <td class="tLeft">规格</td>
                        <td class="width80">单位</td>
                        <td class="tLeft">单价</td>
                        <td class="">消耗量</td>
                        <td class="">损耗量</td>
                        <td class="tRight">小计</td>
                        <td class="">删除</td>
                    </tr>
                    @foreach (var detail in order.Details)
                    { 
                        <tr class="item cart-item" data-autoid="@(detail.AutoID)" data-id="@(detail.ProductDetailID)" >
                            <td><a href="/Products/ChooseDetail?pid=@(detail.ProductID)&did=@(detail.ProductDetailID)" target="_blank">@(detail.ProductName)</a></td>
                            <td>@(detail.Remark)</td>
                            <td class="center">@(detail.UnitName)</td>
                            <td class="tr-price"><label class="price">@(detail.Price.ToString("f2"))</label></td>
                            @{
                        if ( (model.Mark == 1 || model.Mark == 3 ) && model.FinishStatus!=2)
                        {
                                       
                            <td class="center tr-quantity"><input  type="text" data-id="@(detail.AutoID)" data-name="@(detail.ProductName)" data-value="@(detail.Quantity.ToString("f2"))" class="quantity width50" value="@(detail.Quantity.ToString("f2"))" /></td>
                            <td class="center tr-loss"><input  type="text" data-id="@(detail.AutoID)" data-name="@(detail.ProductName)" data-value="@(detail.Loss.ToString("f2"))" class="loss width50" value="@(detail.Loss.ToString("f2"))" /></td>
                            <td class="tRight amount">@((detail.TotalMoney).ToString("f2"))</td>
                             <td class="center">
                                <a class="ico-del" href="javascript:void(0)" title="删除" data-name="@(detail.ProductName)" data-id="@(detail.AutoID)"></a>
                            </td>
                        }
                        else
                        {
                            <td class="center tr-quantity">@(detail.Quantity.ToString("f2"))</td>
                            <td class="center tr-loss">@(detail.Loss.ToString("f2"))</td>
                            <td class="tRight amount">@((detail.TotalMoney).ToString("f2"))</td>
                            <td></td>
                        }
                   }
                            
                            
                        </tr>
                    }

                    <tr class="amount-item">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="tRight">成本合计：</td>
                        <td class="tRight"><label id="amount"></label></td>
                        <td></td>
                    </tr>
                </table>
            @{
                if ((model.Mark == 1 || model.Mark == 3) && model.FinishStatus != 2)
                    {
                    <a href="/Customer/ChooseProducts?id=@(model.OrderID)&tid=@(model.TaskID)" class="btn right mTop10">添加材料</a>
                    }
            }
                <div class="clear"></div>
            </div>

        <div class="platemakingContent hide" id="platemakingContent">
            @{
            if (string.IsNullOrEmpty(order.Platemaking))
            {
                <table class="table-list">
                    <tr class="tr-header">
                        <td class="width100 tLeft" data-columnname="columnname1">
                            <span class="tbContent">列名1</span>
                            <input class="hide tbContentIpt" value="列名1" type="text"/>
                            <span class="right ico-dropdown mRight5" data-columnname="columnname1"></span>
                        </td>
                        <td class="width100 tLeft" data-columnname="columnname2">
                            <span class="tbContent">列名2</span>
                            <input class="hide tbContentIpt" value="列名2" type="text"/>
                            <span class="right ico-dropdown mRight5" data-columnname="columnname2"></span>
                        </td>
                        <td class="width100 tLeft" data-columnname="columnname3">
                            <span class="tbContent">列名3</span>
                            <input class="hide tbContentIpt" value="列名3" type="text"/>
                            <span class="right ico-dropdown mRight5" data-columnname="columnname3"></span>
                        </td>
                            <td class="width100 tLeft" data-columnname="columnname4">
                            <span class="tbContent">列名4</span>
                            <input class="hide tbContentIpt" value="列名4" type="text"/>
                            <span class="right ico-dropdown mRight5" data-columnname="columnname4"></span>
                        </td>
                        <td class="width100 tLeft" data-columnname="columnname5">
                            <span class="tbContent">列名5</span>
                            <input class="hide tbContentIpt" value="列名5" type="text"/>
                            <span class="right ico-dropdown mRight5" data-columnname="columnname5"></span>
                        </td>
                        <td class="width150 center">操作</td>
                    </tr>
                    <tr>
                        <td class="width100 tLeft" data-columnname="columnname1">
                            <span class="tbContent">无内容</span>
                            <input class="hide tbContentIpt" value="无内容" type="text"/>
                        </td>
                        <td class="width100 tLeft" data-columnname="columnname2">
                            <span class="tbContent">无内容</span>
                            <input class="hide tbContentIpt" value="无内容" type="text"/>
                        </td>
                        <td class="width100 tLeft" data-columnname="columnname3">
                            <span class="tbContent">无内容</span>
                            <input class="hide tbContentIpt" value="无内容" type="text"/>
                        </td>
                        <td class="width100 tLeft" data-columnname="columnname4">
                            <span class="tbContent">无内容</span>
                            <input class="hide tbContentIpt" value="无内容" type="text"/>
                        </td>
                        <td class="width100 tLeft" data-columnname="columnname5">
                            <span class="tbContent">无内容</span>
                            <input class="hide tbContentIpt" value="无内容" type="text"/>
                        </td>
                        <td class="width150 center">
                            <div class="platemakingOperate">
                                <div class="btn-addRow btn-create left" title="添加新行"></div>
                                <div class="btn-removeRow btn-remove mLeft10 left" title="删除此行"></div>
                                <div class="clear"></div>
                            </div>
                        </td>
                    </tr>
                </table>
            }
            else
            {
                <script type="text/javascript">
                    document.getElementById("platemakingContent").innerHTML = decodeURI('@(order.Platemaking)');
                </script>   
            }
            }
            @{
            if (model.Mark == 2 && model.FinishStatus != 2)
            {
            <a href="javascript:void(0);" class="btn right mTop10" id="btn-updateTaskRemark">保存制版</a>
            }}
            <div class="clear"></div>
        </div>
            
        <div id="orderTask" class="mTop30 hide">
            <div class="content-main">
                <textarea id="txtContent" class="txt-content" placeholder="发表评论"></textarea><br />
                <div class="btn right mTop5" id="btnSaveTalk">提交</div>
                <div class="clear"></div>
            </div>

            <div class="talk-title" style="width:800px;"> 全部讨论</div>

            <table class="content-list" id="replyList"></table>

            <div id="pagerReply" class="mTop10"></div>
        </div>

        <div id="orderTaskLogs" class="mTop30 hide">
            <div class="log-body" id="taskLogList">

            </div>
            <div id="pagerLogs" class="mTop10">

            </div>
        </div>

    </div>
</div>

<ul class="dropdown-ul hide"  style="width:90px;">
    <li id="btn-addColumn">添加新列</li>
    <li id="btn-removeColumn">删除此列</li>
</ul>