@{
    var taskModel = (YXERP.Models.TaskModel)ViewBag.TaskModel;
    var task = taskModel.Task;
    var order = taskModel.Order;
    var productAttr = taskModel.ProductAttr;
    var attrValues = productAttr.AttrValues == null ? "" : Html.ToJSONString(productAttr.AttrValues);
    var taskDescs = task.TaskDescs;
    ViewBag.Title = "任务详情" + "-" + task.Title;
}

@section css{
<link href="/modules/css/task.css" rel="stylesheet" />
}

@section scripts{
    <script src="/Scripts/jquery-1.11.1.js"></script>
    <script src="/modules/plug/laydate/laydate.js"></script>
    <script src="/modules/plug/e-smart-zoom-jquery.min.js"></script>
    <script type="text/javascript">
        $(function () {
            seajs.use(["scripts/task/detail"], function (obj) {
                obj.init('@attrValues', '@order.OrderImages', '@(taskModel.IsWarn ? 1 : 0)', '@Html.ToJSONString(task)', '@order.OriginalID', '@order.PlanTime.ToString("yyyy-MM-dd hh:mm:ss")', '@(task.Mark==11&&task.OrderType==2?Html.ToJSONString((List<IntFactoryEntity.CategoryItemsEntity>)ViewBag.plateMarkItems):"")', '@(task.Mark == 13&&order.OrderType==2?Html.ToJSONString(order.Details):"")');
            });
        });
    </script>
}
@{Html.RenderPartial("DetailBase", taskModel);}

<div class="taskContent" style="padding-bottom:60px;@(task.Mark==12||task.Mark==22?"padding-left:0;padding-right:0;":"")">
    <div id="navTask" class="talk-body nav-partdiv">
        @{Html.RenderPartial("TaskReply",task.Mark);}

        @{
            if (task.Mark == 11 && order.OrderType == 1)
            {
                //打样材料
                Html.RenderPartial("MaterialDetail", taskModel);
            }
            else if (task.Mark == 11 && order.OrderType == 2)
            {
                //大货材料
                Html.RenderPartial("CargoMaterialDetail", taskModel);
            }
            else if (task.Mark == 12 && order.OrderType == 1)
            {
                //打样制版
                Html.RenderPartial("PlateDetail", taskModel);
            }
            else if (task.Mark == 12 && order.OrderType == 2)
            {
                //大货制版
                Html.RenderPartial("PlateDetail", taskModel);
            }
            else if (task.Mark == 15 && order.OrderType == 1)
            {
                //打样发货
                Html.RenderPartial("SendDYDoc");
            }
            else if (task.Mark == 15 && order.OrderType == 2)
            {
                //大货发货
                Html.RenderPartial("SendDoc");
            }
            else if (task.Mark == 13&&order.OrderType==2)
            {
                //大货裁片
                Html.RenderPartial("CutoutDoc", taskDescs.Find(m => m.Mark == 13).Name);
            }
            else if (task.Mark == 14 && order.OrderType == 2)
            {
                //大货车缝
                Html.RenderPartial("SewnDoc");
            }
            //加工成本
            if (task.Mark == 16)
            {
                Html.RenderPartial("ProcessCostDoc");
            }
        }
        @{
            if (order.OrderType == 2)
            {
                <div id="navGoods" class="nav-partdiv hide">
                    <table class="table-list mTop20">
                        <tr class="tr-header">
                            <td class="tLeft width200">规格</td>
                            <td class="width200">下单数量</td>
                            <td class="width200">@(taskDescs.Find(m=>m.Mark==13).Name)数量</td>
                            <td class="width200">@(taskDescs.Find(m=>m.Mark==14).Name)数量</td>
                            <td class="width200">发货数量</td>
                            <td class="width200">剩余未发</td>
                            <td class="">单价</td>
                            <td class="tRight">小计</td>
                        </tr>
                        @if (order.OrderGoods.Count > 0)
                        {
                            foreach (var detail in order.OrderGoods)
                            { 
                            <tr class="item cart-item" >
                                <td>@(detail.Remark)</td>
                                <td class="center good1">@(detail.Quantity)</td>
                                <td class="good2 center">@(detail.CutQuantity)</td>
                                <td class="center good3">@(detail.Complete)</td>
                                <td class="center good4">@(detail.SendQuantity)</td>
                                <td class="center good5">@(detail.Complete - detail.SendQuantity)</td>
                                <td class="center">@(order.FinalPrice.ToString("f2"))</td>
                                <td class="tRight good6">@((detail.TotalMoney).ToString("f2"))</td>
                            </tr>                
                            }
                            <tr class="total-item bold" >
                                <td class="">合计：</td>
                                <td class="center" data-class="good1"></td>
                                <td class="center" data-class="good2"></td>
                                <td class="center" data-class="good3"></td>
                                <td class="center" data-class="good4"></td>
                                <td class="center" data-class="good5"></td>
                                <td class="center"></td>
                                <td class="tRight" data-class="good6"></td>
                            </tr>
                        }
                        else
                        {
                            <tr><td colspan="7"><div class="nodata-txt">暂无明细</div></td></tr>
                        }
                    </table>
                </div>
            }
        }
        <div id="orderTaskLogs" class="mTop15 hide">
            <div class="log-body" id="taskLogList"></div>
            <div id="pagerLogs" class="mTop10"></div>
        </div>

    </div>
</div>

<ul class="dropdown-ul hide" id="setPlateInfo" style="width:100px;">
    <li id="btn-setNormalColumn">设为标码</li>
    <li id="btn-removeColumn">删除此列</li>
</ul>
@{  
    //车缝退回
    if (task.Mark == 14 && order.OrderType == 2){
        <ul class="dropdown-ul hide" id="setReturnSewn" style="width:100px;">
            <li id="btnSaveSwen">@(taskDescs.Find(m=>m.Mark==14).Name)退回</li>
        </ul>
    }
}
<div class="enlarge-image-bgbox hide">
    <div class="close-enlarge-image iconfont">&#xe606;</div> 
    <span id="zoomInButton" class="zoom-botton iconfont mRight50">&#xe642;</span>
    <span id="zoomOutButton" class="zoom-botton iconfont">&#xe641;</span>
</div>

<div id="pageContent" class="enlarge-image-box hide">
    <div class="left-enlarge-image"></div>
    <div class="right-enlarge-image"></div>
    <div class="enlarge-image-item"></div>
</div>