
@{
    ViewBag.Title = "任务详情";
    var model = (IntFactoryEntity.Task.TaskEntity)ViewBag.Model;
    var order = (IntFactoryEntity.OrderEntity)ViewBag.Order;
    var productAttr = (IntFactoryEntity.ProductAttr)ViewBag.ProductAttr;
    var attrValues = productAttr.AttrValues == null ? "" : Html.ToJSONString(productAttr.AttrValues);
}

@section css{
@{
    if(@model.Mark==2){
    <link href="/modules/plug/umeditor/themes/default/css/umeditor.min.css" rel="stylesheet" />
    }
}
<link href="/modules/css/task/style.css" rel="stylesheet" />
}

@section scripts{
    <script src="/Scripts/jquery-1.11.1.js"></script>
    <script src="/modules/plug/laydate/laydate.js"></script>
    @{
        if(@model.Mark==2){
        <script src="/modules/plug/umeditor/umeditor.min.js"></script>
        <script src="/modules/plug/umeditor/umeditor.config.js"></script>
        }
    }
    <script src="/modules/plug/e-smart-zoom-jquery.min.js"></script>
    <script type="text/javascript">
        $(function () {
            var um = null;
            if ($("#txtPlateRemark").length == 1) {
                um = UM.getEditor('txtPlateRemark');
            }

            seajs.use(["scripts/task/detail"], function (obj) {
                obj.init('@attrValues', um, '@(order.PlateRemark)', '@order.OrderImages', '@Html.ToJSONString(model)', '@ViewBag.IsWarn','@Html.ToJSONString(order)');
            });

        });
    </script>
}

@{Html.RenderPartial("DetailBase",model);}



<div class="taskContent">
    <div id="navTask" class="talk-body nav-partdiv">
        @{Html.RenderPartial("TaskReply", model);}
        
        @{
            if(model.Mark==3){
                Html.RenderPartial("CargoMaterialDetail", order);
            }
            else{
                Html.RenderPartial("MaterialDetail", order);
            }
        }

        @{Html.RenderPartial("PlateDetail", order);}
            
        <div id="orderTaskLogs" class="mTop30 hide">
            <div class="log-body" id="taskLogList"></div>
            <div id="pagerLogs" class="mTop10"></div>
        </div>

        @{Html.RenderPartial("SendDoc");}

        @{Html.RenderPartial("CutoutDoc");}
       
        @{Html.RenderPartial("SewnDoc");}

    </div>
</div>

<ul class="dropdown-ul hide"  style="width:90px;">
    <li id="btn-addColumn">添加新列</li>
    <li id="btn-removeColumn">删除此列</li>
</ul>

<div class="enlarge-image-bgbox hide">
    <div class="close-enlarge-image iconfont">&#xe606;</div> 
    <span id="zoomInButton" class="zoom-botton iconfont mRight50">&#xe642;</span>
    <span id="zoomOutButton" class="zoom-botton iconfont">&#xe641;</span>
</div>

<div id="pageContent" class="enlarge-image-box hide">
    <div class="left-enlarge-image"></div>
    <div class="right-enlarge-image"></div>
    <div class="enlarge-image-item">
         
    </div>
</div>